@font-face {
    font-family: 'NunitoSans-Black';
    src: url('../fonts/NunitoSans-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans-Black.woff') format('woff');
    font-weight:900;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans-Bold.woff') format('woff');
    font-weight:bold;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight:800;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight:300;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight:600;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight:normal;font-style:normal;font-display:swap;
}
html {
    scroll-behavior: smooth;
}
*,
body {
    padding:0;margin:0;font-family:'NunitoSans-Regular';font-size:14px;
}
img{
    max-width: 100%;
}
.container {
    width:1170px;margin: 0 auto;
}
ul,
ol {
    margin:0;padding: 0px;
}
h6 {
    font-family:'NunitoSans-Bold';font-size: 18px;
}
.header_bg {
    position:relative;
}
.top_header {
    display: flex; flex-direction:row;padding:10px 20px 20px 20px;align-items:center;margin-bottom:10px;position:relative;z-index:3;
}
.inner_nav {
    text-align: right;
}
.inner_nav ul {
    list-style: none; padding:0;margin:0;display:inline-block;
}
.inner_nav ul li {
    float: left;margin:20px 15px 0 15px;padding-bottom: 20px;
}
/* ***********************Banner styling end******************************* */
.inner_search input[type="text"]:focus{
    outline:none;box-shadow:none!important;border: none !important;
}
.inner_search ::placeholder {
    color:#000;opacity: 1;
}
.inner_search :-ms-input-placeholder {
    color: #000;
}
.inner_search ::-ms-input-placeholder {
    color: #000;
}
h2 {
    font-size: 30px;
    font-family: 'NunitoSans-ExtraBold';
}
.f_template_section {
    text-align: center;
    margin-top: 30px;
}
.business_video {
    padding:4em;background:#F9F9F9;text-align: center;
}
.making_video{
    margin-top: 5em;
}
.f_template_section p {
    margin:25px 0;font-size: 16px;
}
.f_template_section p a {
    font-size: 16px;
}
.cl_steps_section p.text-center {
    font-size: 16px;
}
.seeAllTemp {
    margin: 50px 0 70px;
}
.seeAllTemp img {
    width: 180px;
}
.fsteps {
    margin-top: 110px;
}
.make_business_section .col-lg-7 img {
    width: 100%;
}
.fsteps ul li {
    margin-bottom:30px;position:relative;counter-increment:li;padding-left:60px;list-style: none;
}
.fsteps ul li:before {
    content:counter(li);color:#D9D9D9;margin-left:-1.2em;margin-right:.5em;font-size:25px;position:absolute;left:0;top:0;
}
.fsteps ul li img {
    width:40px;position:absolute;top:0;left:0;
}
.fsteps ul li h3 {
    font-size: 19px;
    font-weight: bold;
    font-family: 'NunitoSans-ExtraBold';
}
.make_business_section h2 {
    font-family: 'NunitoSans-ExtraBold';
    margin-top: 0;
}
.fsteps ul li p {
    font-family: 'NunitoSans-SemiBold';
}
.make_business_section {
    padding: 8em 0 50px 0;
}
.cl_steps_section {
    padding: 40px 0 20px 0;text-align:center;
}
.cl_steps_section h2 {
    text-align: center;
}
.faqs_section {
    margin: 50px 0;
}
.footer_section {
    background:#000;padding: 50px 0 0 0;
}
.footer_section .col-lg-1 img {
    width: 70px;
}
.footer_section h3 {
    font-family:'NunitoSans-Bold';font-size:25px;color:#fff;line-height:normal;margin:0 0 0 30px;
}
.social_icon a img {
    width:60px;margin:0 3px;transition: .5s;
}
.footer_section .row:first-child {
    border-bottom:1px solid #707070;padding-bottom:30px;margin-bottom: 40px;
}
.footer_widget h4 {
    font-size:18px;color:#fff;font-family:'NunitoSans-Bold';margin-bottom:20px;margin-top: 0;
}
.footer_widget ul a {
    color: #B5B5BB; margin-bottom:14px;display:inline-block;
}
.footer_email img {
    width:20px;margin-right:6px;
}
.footer_email a {
    color: #B5B5BB;
}
.footer_address span {
    font-family:'NunitoSans-SemiBold';color:#B5B5BB;
}
.footer_address h4 {
    margin-bottom:5px;margin-top:25px;
}
.fsocial img {
    width:40px;margin-right:5px;
}
.fsocial {
    margin-top: 10px;
}
.copywrite {
    text-align:center;color:#fff;font-size:13px;padding:30px 0;
}
.copywrite a {
    color: #fff;
}
/* ******************Mobile Nav******************** */
.mobile_menu {
    display: none;
}
button.nav_btn {
    border:none;background:none;width:40px;
}
button.nav_btn span {
    display:block;height:4px;width:100%;background:#000;margin-bottom:7px;
}
.faqs_section .panel-title a {
    background: url(../images/dd_icon.png) no-repeat right center;
    display:block;font-size:14px;
}
.faqs_section .panel-default>.panel-heading {
    color:#000!important;background-color:transparent;border: none !important;
}
.faqs_section .panel-group .panel {
    box-shadow: 0 0 10px #efefef;
    margin-bottom: 20px;
}
.panel-body {
    border: none !important;
}
.faqHeading {
    margin-bottom: 40px;
}
.inner_brand h3 {
    font-size:18px;font-family: 'NunitoSans-Bold';
}
.create_flyer img {
    width: 180px;
}
.create_flyer {
    margin: 60px 0 60px 0;
}
img.howto_img {
    width: 580px;
}
.faqs_section .panel-title a[aria-expanded="false"] {
    background: url(../images/minus.svg) no-repeat right center;
    background-size: 20px;
}
.faqs_section .panel-title a[aria-expanded="true"] {
    background: url(../images/plus.svg) no-repeat right center;
    background-size: 20px;
}
.faqs_section .panel-title a{
    display:block;font-size:16px;padding-right:2em;line-height:22px;
}
.faqs_section .panel-title a:hover{
    text-decoration: none;
}
.faqs_section .panel-default>.panel-heading {
    color: #000 !important; background-color:transparent;border:none!important;padding:16px 15px;
}
li.drop2 {
    position: relative;
}
li.drop2:hover .outer_d2 {
    display: block;
}
.outer_d2 a {
    font-weight: normal !important;
    font-family: 'NunitoSans-Regular' !important;
    display: inline-block;
}
.outer_d2 div {
    border-bottom:1px solid #F0F0F0;padding:12px 0;text-align:center;
}
.outer_d2 div:last-child {
    border: none;
}
.dvAll a {
    background:#FD0000;color:#fff!important;display:inline-block;padding:6px 15px;font-size:13px;
}
.footer_widget .col-lg-1 {
    display: none;
}
.d1_tab div a img {
    width:10px;height:auto;margin-top:3px;margin-left:0;float:right;
}
/***************************** business card page style */
.temp_exmple {
    display:grid;grid-template-columns:repeat(3,1fr);grid-column-gap:30px;grid-row-gap:30px;
}
.temp_item {
    padding:35px;border-radius:10px;position: relative;
}
.temp_item img {
    width: 270px;
}
.tempItem-head a {
    font-size:17px;font-weight:bold;margin-top:10px;line-height:20px;color:#000;
}
.make_uniq_txt {
    text-align:center;background:#F9F9F9;padding:30px;
}
.testimonial_section {
    background:#F9F9F9;padding: 40px 0;
}
.im_testimonials .col-lg-4 img {
    width: 100%;
}
.slider-nav-thumbnails {
    position:absolute!important;top:0;right:0;width:75px;
}
.slider-nav-thumbnails .slick-slide img {
    display:inline-block;width: 38px;
}
.slider-nav-thumbnails.slick-vertical .slick-slide {
    display:inline-block;width:auto!important;padding-left:10px;padding-bottom: 20px;
}
.slider-nav-thumbnails .slick-slide.slick-current.slick-center img,
.slider-nav-thumbnails .slick-slide.slick-current.slick-active img {
    width:48px;margin-left:-7px;
}
.user_info {
    font-size:16px;font-weight: bold;
}
.tstar {
    margin: 10px 0;
}
.oslider {
    padding-right:130px;margin-top: 100px;
}
.im_testimonials {
    background:#fff;padding: 40px 50px 20px 50px;
}
.slider-nav-thumbnails .slick-list.draggable {
    padding: 30px 0 !important;
}
.slider-nav-thumbnails .slick-list.draggable {
    height: 240px !important;
}
button.slick-prev.slick-arrow {
    background: url(../images/business-card/previous.svg) no-repeat center center;
    border:none;font-size:0;height:30px;width:63px;position:absolute;bottom:-52px;
}
button.slick-next.slick-arrow {
    background: url(../images/business-card/next.svg) no-repeat center center;
    border:none;font-size:0;height:30px;width:63px;position:absolute;bottom:-80px;
}
.testimonial_section h2.text-center {
    margin-top:0;margin-bottom: 30px;
}
.slider {
    height: auto;
}
a.memBtn {
    position:absolute;width:170px;background:#D8EFDE;color:#000;padding:10px 0;border-radius:6px;bottom:90px;left:0;right:0;margin-left:51%;text-align:center;font-weight: bold;
}
.row.animation_2 a.memBtn {
    bottom: 115px;
}
.stckyBtn {
    position:fixed;bottom:0;text-align:center;width:100%;z-index: 9;background: #000;
}
.stckyBtn a.memBtn {
    position:initial;display:inline-block;margin-left: 10px;
}
.stckyBtn span {
    background:#000;display:inline-block;padding:15px 20px;border-top-left-radius:6px;border-top-right-radius:6px;font-weight:bold;color:#fff;
}
.stckyBtn a.memBtn:hover {
    text-decoration: none;
}
.top_header.navstiky {
    background:#F6F6F6;position:fixed;width:100%;padding:0 30px 0;border-bottom: 1px solid #cecece;
}
a.fulla {
    position:absolute;top:0;left:0;width:100%;height: 100%;
}
/******************** Mega menu start ********/
.memGen .megaHeading {height:100%;text-align:center;padding-top:100px;}
.inner_nav ul.navUL .megaBox.memGen a {color:#FF004F !important;}
.top_header {
    display:flex;flex-direction:row;align-items:center;z-index:10;position:fixed;width:100%;padding:10px 30px 0 30px;background:none;top:0;
  }
  .logo_section, .start_section {
    flex: 1;
  }
  .nav_section {
    flex: 2;
  }
  .inner_nav {
    text-align: center;
  }
  .start_section {
    text-align: right;
  }
  .start_section .dropdown {
    display: inline-block;
  }
  .inner_nav ul.navUL li a {
    font-family: 'NunitoSans-Regular';
    color: #000000;
  }
  .inner_nav ul.navUL li {
    float:left;margin:0 15px;padding-bottom: 20px;
  }
  .outer_d2 {
    position:absolute;background:#fff;box-shadow:0 0 7px #dddddd;width:450px;padding:20px 25px;top:38px;right:-110px;display:none;
  }
  .outer_d1 {
    position:absolute;background:#fff;width:95%;left:3%;text-align:left;box-shadow:0 0 7px #dddddd;min-height:290px;top:59px;padding:20px 20px 20px 20px;border-radius:10px;display:none;
  }
  .inner_nav ul.navUL li ul li {
    float: none;margin:0;padding-bottom: 0px !important;
  }
  .start_section .dropdown button {
    background:#fff!important;border:0;color:#000;text-transform:capitalize;font-family:'NunitoSans-Regular';height:38px;box-shadow: 0 0 5px #c9c9c9;
  }
  .start_section .dropdown button .globalicon {
    margin-right:6px;height: 20px;
  }
  img.langDrop {
    margin-top: -3px;
  }
  .megalist ul li {
    float: none; padding:0;margin:0;
  }
  .megaHeading {
    padding:20px 18px; background:#F5F5F5;border-radius:10px;
  }
  .megaHeading img {
    margin-bottom: 10px;height:32px;
  }
  .megalist {
    margin:10px 0 8px 0; line-height:30px;
  }
  .megaBox {
    flex-grow: 1; flex-basis:0;
  }
  .megaMenu {
    display: flex; gap:13px;
  }
  .megaMenu a {
    font-size: 13px;
  }
  .megaVmore a {
    color: #FF004F !important;
  }
  .logo_section img {
    height: 45px;
  }
  .inner_nav ul li a.vlink1:hover{
    color: #FF004F;
  }
  a.startBtn {
    background:#FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;background-size:contain;color:#fff;text-transform:uppercase;font-weight:bold;font-size:13px;display:inline-block;padding:10px 20px;border-radius:5px;margin-left:5px;
  }
  a.startBtn:hover{
    text-decoration: none;
  }
  .hover_dicon{
    display:none;
  }
  .inner_nav ul li a.vlink1:hover .defalt_dicon{
    display:none;
  }
  .inner_nav ul li a.vlink1:hover .hover_dicon{
    display: inline-block;
  }
  img.defalt_dicon, .hover_dicon{
    height:7px; margin-left:4px;
  }
  a.vlink1:hover, a.vlink2:hover{
    text-decoration: none;
  }
  .inner_nav ul li.drop1:hover .outer_d1{
    display: block;
  }
  .inner_nav ul.navUL{
    margin-bottom:-18px;
  }
  .outer_d2 div {
    float: left; width:50%;text-align:left;padding:15px 0;
  }
  .outer_d2 div img {
    height: 25px; margin-right:7px;margin-top:-3px;
  }
  .new_banner {
    padding-top: 110px;padding-bottom:180px;
  }
  .new_btext {
    width: 60%;margin:0 auto;text-align: center;
  }
  .new_btext h1 {
    text-align: center;font-family:'NunitoSans-ExtraBold';
  }
  .new_btext p {
    text-align: center;margin:24px 0;
  }
  .header_bg {
    background: url(../images/bcm_bg.png) no-repeat;
    background-position:top center;background-size: cover;
  }
  .new_banner .container{
    position: relative;
  }
  .new_banner .container:before{
    background: url(../images/banner_before_icon.png) no-repeat;
    background-size:70px auto;content:"";position:absolute;width:95px;height:95px;bottom:-40px;left:0;
  } 
  .new_banner .container:after{
    background: url(../images/banner_after_icon.png) no-repeat;
    background-size:50px auto;content:"";position:absolute;width:95px;height:95px;top:10px;right:0;
  }
  .byCate{
    padding:0px 60px;
  }
  .byCate .ocatsec {
    background:#fff;padding:16px;margin-top:-50px;border-top-left-radius:10px;border-top-right-radius:10px;position:relative;display:flex;
    flex-wrap: wrap;
  }
  .byCate_heading {
    font-family: 'NunitoSans-ExtraBold';margin-bottom: 12px;
  }
  .nleft_sidebar {
    background:#D8EFDE;padding:20px;border-radius: 10px;min-height: 94%;
  }
  .byCate .outersidebar{
    padding-left: 0;
  }
  .nleft_sidebar a {
    color:#000;display:block;padding-left:15px;border-radius: 5px;
  }
  .nleft_sidebar li {
    line-height: 35px;
  }
  .nleft_sidebar .active a, .nleft_sidebar a:hover{
    background: #fff url(../images/bycat_arrow.png) no-repeat;
    background-position:90% center;background-size:15px auto;color:#FF004F;text-decoration:none;
  }
  .catItemList img{
    width: 100%;border-radius:10px;
  }
  .catItemList .col-lg-2 a{
    display: block;margin-bottom:15px;position:relative;
  }
  .loadMore{
    text-align: center;
  }
  .loadMore a {
    background: #FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;color:#fff;padding:10px 20px;text-transform:uppercase;font-size:14px;display:inline-block;width:35%;font-weight:bold;border-radius:5px;
  }
  .loadMore a:hover{
    text-decoration: none;
  }
  .catItemList .col-lg-2 a:last-child:after {
    content:"";position:absolute;height:80%;bottom:0;width:100%;z-index:1;left:0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 120%);
  }
  .mb_inner .d_d_2>a{
    background: url(../images/nav_drop_plus.png) no-repeat;
    background-position:97.5% center;
  }
  .mb_inner .d_d_2.activeDD>a{
    background: url(../images/nav_drop_minus.png) no-repeat;
    background-position:97.5% center;
  }
  .mb_inner .d_d_2 a>img {
    float: none !important;
    margin-top: 0px !important;
  }
  .new_btext h2 {
    font-size:22px;margin-top:10px;margin-bottom:0;
  }
  .banner_search {
    position: relative; width:70%;margin:0 auto;text-align:left;
  }
  .inner_search {
    position: relative; background:#fff;box-shadow:0 0 15px #e0ded9;border-radius:5px;
  }
  .inner_search input[type="text"] {
    width:67%;margin:0;border:none;background:none;padding:8px 10px;font-size:13px;
  }
  .inner_search input[type="text"]:focus{
    border: none !important;
    box-shadow: none !important;
  }
  .inner_search a.searchByCat {
    background: #FF004F url(../images/nd_btn_bg.png);
    position: absolute;color:#fff;border:none;padding:8px 12px;top:6px;right:8px;font-family:'NunitoSans-Bold';font-size:13px;border-radius: 5px;
  }
  .search_dropdown {
    position:absolute;top:47px;left:0;width:100%;background:#d9d7d1;padding:10px;
  }
  .search_dropdown li {
    background:#F6F4EF;float:left;width:46%;font-size:13px;line-height:normal;padding:5px 8px;border-left:2px solid #DD1956;cursor:pointer;margin:5px;
  }
  body .start_section .dropdown button:focus,
  body .start_section .dropdown button:hover,
  body .start_section .dropdown button:active{
    border:0!important;color:#000!important;outline:none!important;
  }
  .start_section ul.dropdown-menu {
    padding:30px;min-width:525px;border-radius:0;box-shadow:0 6px 12px rgb(0 0 0 / 15%);
  }
  .start_section ul.dropdown-menu li {
    margin: 2px 10px; padding:0;float:none;display:inline-block;width:125px;
  }
  .start_section .dropdown-menu>li>a {
    font-weight:800;color:#000;padding:3px 0;margin-bottom:5px;margin-top:5px;border-bottom:1px solid #ddd;
  }
  .start_section .open>.dropdown-toggle.btn-primary{
    color: #000;
  }
  .catItemList img.jbr {
    border: 1px solid #dd1956;
}
/******************************************************-------------** Mega menu end ********/
.countery-icons {
    width:20px;height:20px;background-repeat:no-repeat;background-size:contain;background-position:center;margin-right:10px;display:inline-block;margin-bottom:-7px;
}
.countery-icons.rk-en {
    background-image: url(../../webimages/flags/en_icon.svg);
}
.countery-icons.rk-ru {
    background-image: url(../../webimages/flags/ru_icon.svg);
}
.countery-icons.rk-ja {
    background-image: url(../../webimages/flags/ja_icon.svg);
}
.countery-icons.rk-it {
    background-image: url(../../webimages/flags/it_icon.svg);
}
.countery-icons.rk-fr {
    background-image: url(../../webimages/flags/fr_icon.svg);
}
.countery-icons.rk-pt {
    background-image: url(../../webimages/flags/pt_icon.svg);
}
.countery-icons.rk-es {
    background-image: url(../../webimages/flags/es_icon.svg);
}
.countery-icons.rk-de {
    background-image: url(../../webimages/flags/de_icon.svg);
}
.countery-icons.rk-zh {
    background-image: url(../../webimages/flags/zh_icon.svg);
}
.countery-icons.rk-ar {
    background-image: url(../../webimages/flags/ar_icon.svg);
}
.countery-icons.rk-id {
    background-image: url(../../webimages/flags/id_icon.svg);
}
.countery-icons.rk-tr {
    background-image: url(../../webimages/flags/tr_icon.svg);
}
.countery-icons.rk-ko {
    background-image: url(../../webimages/flags/ko_icon.svg);
}
.countery-icons.rk-vi {
    background-image: url(../../webimages/flags/vi_icon.svg);
}
.countery-icons.rk-nl {
    background-image: url(../../webimages/flags/nl_icon.svg);
}
.countery-icons.rk-pl {
    background-image: url(../../webimages/flags/pl_icon.svg);
}
.countery-icons.rk-no {
    background-image: url(../../webimages/flags/no_icon.svg);
}
.countery-icons.rk-cs {
    background-image: url(../../webimages/flags/cs_icon.svg);
}
.countery-icons.rk-sv {
    background-image: url(../../webimages/flags/sv_icon.svg);
}
.countery-icons.rk-ro {
    background-image: url(../../webimages/flags/ro_icon.svg);
}
.countery-icons.rk-da {
    background-image: url(../../webimages/flags/da_icon.svg);
}
.countery-icons.rk-th {
    background-image: url(../../webimages/flags/th_icon.svg);
}
.countery-icons.rk-hu {
    background-image: url(../../webimages/flags/hu_icon.svg);
}
.countery-icons.rk-bn {
    background-image: url(../../webimages/flags/bn_icon.svg);
}
.countery-icons.rk-el {
    background-image: url(../../webimages/flags/el_icon.svg);
}
.top_header.navstiky{
    background:#D8EFDE;position:fixed;width:100%;padding:10px 30px 10px;
}
.make_uniq_txt li.nav-item {
    text-align: left;
}
span.uniq_btn {
    display:flex;align-items:center;
}
.make_uniq_txt li.nav-item a {
    color:#000;border:1px solid #ECECEC;margin-bottom:12px;background: #fff;
}
span.uniq_btn span:first-child {
    font-size: 32px;font-weight:500;color:#DEDEDE;margin-right: 12px;
}
.make_uniq_txt li.nav-item.active a {
    background:#E81254;color:#fff;
}
.make_uniq_txt li.nav-item.active a span{
    color: #fff !important;
}
.make_uniq_txt .tab-content {
    text-align: left;
}
.make_uniq_txt li.nav-item:last-child a.nav-link,
.make_uniq_txt .row,
.getSec .row{
    margin-bottom: 0;
}
.make_uniq_txt .tab-content{
    padding:5% 20% 0 7%;
}
.getSec h2{
    text-align:center;
    margin-bottom:40px;
}
.getSec{
    margin-top:80px;
}
.getSec .col-md-3 {
    padding-left: 0;
}
.getSec .col-md-9 {
    padding-left: 0;
}
.getSec .col-md-3 img {
    width: 65px;
}
.getSec .col-md-9 h3 {
    font-family: 'NunitoSans-ExtraBold';
    margin-top:12px;font-size: 20px;
}
.getSec p{
    clear:both;margin-bottom:0;padding-top:20px;
}
.getSec .col-md-4 .gbox{
    background:#F6FDFF;padding:30px;border-radius:10px;min-height: 300px;
}
.getSec .col-md-4 .clr2{
    background: #FFF9F5;
}
.getSec .col-md-4 .clr3{
    background: #F8F9FF;
}
.getSec .col-md-4 .clr4{
    background:#FFF8F8;
}
.getSec .col-md-4 .clr5{
    background:#ECFEF6;
}
.mt30{
    margin-top: 30px;
}
.innerTlisting h2 {
    margin-top: 0; font-size:25px;
}
.innerTlisting {
    border: 1px solid #E5E5E5;border-radius:5px;padding:30px;
}
.innerTlisting ul li{
    background-image: url(../../designstudio/images/business-card/check_green.png);
    background-repeat:no-repeat;background-position:left center;padding-left:25px;line-height: 29px;
}
.multiFormate_section h2{margin-top: 22%;}
.multiFormate_section {margin-top: 30px;}
.bcm_gray{
    background:#F9F9F9;padding:50px 0;text-align: center;
}
.bcm_gray .container {padding: 0px 12%;}
div#scroll_howto p.text-center {
    padding-left:15%;padding-right: 15%;
}



@media (min-width:1510px) {
    .catItemList .col-lg-2 {
        width:20%;padding-left:8px;padding-right:8px;
    }
}  
@media (min-width:1050px) {
    .footer_widget .col-lg-2 {
        width: 20%;
    }
}
@media(max-width:1024px) {
    .container {width:auto;}
    .top_header {
        display:block;margin-bottom:0;position: relative;
    }
    .mobile_menu{display: block;}
    .nav_section{display: none;}
    button.nav_btn {
        position: absolute; right:17px;top:20px;padding:0;width:auto;background:none;
    }
    li.strNow a {background: #dd1956;} 
    .cl_steps_section {padding: 140px 0 20px 0;}
    .inner_exp {
        text-align:center;width: auto;
    }
    .mb_inner a:hover,
    .mb_inner a:focus {
        outline: none;
        text-decoration: none;
    }
    .outer_dd2,
    .mb_inner,
    .outer_dd22,
    .mb_inner,
    .outer_dd33,
    .mb_inner {
        display: none;
    }
    .inner_drop2 {display: none;}
    .stckyBtn span {
        display: block;text-align:center;padding:10px 0;border-top-left-radius:0;border-top-right-radius: 0px;
    }
    a.memBtn {padding: 6px 0;}

    /* ***************New ******** */
  .mobile_menu .oul_sec {
    background:#fff;display:none;padding:10px;position:fixed;top:0;left:0;width:100%;height:100%;padding-top:60px;overflow-x:auto;z-index:1;
    }
    .closenav_btn {
        border:none;background:none;position:absolute;top:20px;right:20px;cursor:pointer;
    }
    .mobile_menu ul li a {
        color:#000;display:block;padding: 10px 10px;
    }
    .mobile_menu li .d_d_2 a img:first-child, .drop2 .inner_drop2 div a img{
        height:30px;margin-right: 10px;
    }
    .outer_dd2{padding-left:42px;}
    .mb_inner .d_d_2:nth-child(6)>a img:first-child, li.drop2 .inner_drop2 div:nth-child(6) a img {
        width:29px;height: auto !important;
    }
    .new_banner {
        padding-top:60px;padding-bottom: 110px;
    }
    .new_btext {width: 80%;}
    .new_banner .container:after {
        background-size:40px auto;background-position:top right;top:-10px;right:0;
    }
    .new_banner .container:before {
        background-size:60px auto;bottom:-80px;left:30px;
    }
    .banner_search {width: 100%;}
    .inner_search {
        position: relative;background:none;box-shadow:none;text-align:center;
    }
    .inner_search input[type="text"] {
        width: 100%;background:#fff;box-shadow:0 0 15px #e0ded9;box-sizing:border-box;font-size:14px;height:50px;border-radius:6px;
    }
    .inner_search a.searchByCat {
        position: initial;margin-top:13px;display:inline-block;
    }
    .endsec{display:none;}
    .start_section a.startBtn {display: none;}
    .start_section .dropdown {
        position:absolute;top:12px;right: 55px;
    }
    .start_section .dropdown button {
        font-size:0;padding:0;background:none !important;box-shadow:none !important;
    }
    .start_section .dropdown button .globalicon {
        margin-right: 0;
    }
    .start_section .dropdown button img.langDrop {
        display: none;
    }
    .mobile_menu ul li>a{
        border: none;color:#E41455;background:rgb(229 229 229);margin-bottom:10px;border-radius:5px;
    }
    .mobile_menu li.md_drop1 a img:last-child, li.drop2>a:first-child img {
        float:right;margin-top: 5px;
    }
    .mobile_menu ul li>a img {width:14px;}
    .mobile_menu ul {margin-top: 10px;}
    .closenav_btn:focus{
        outline: none;
        background:transparent !important;
    }
    .byCate {padding: 0px 30px;}
    .byCate .ocatsec {padding: 15px;}
    .byCate .outersidebar {
        padding-left:0;padding-right: 0;
    }
    .catItemList {margin-top: 15px;}
    .nleft_sidebar {
        background: #fff;padding:0;border-radius:0;
    }
    .byCate_heading {
        text-align: center; font-size:16px;
    }
    .mobcdrop {
        padding:10px;background:#E3F1F2;border-radius:6px;
    }
    .nleft_sidebar ul{
        background:#E3F1F2;padding:10px;margin-top:2px;border-radius:6px;display:none;
    }
    .mobcdrop img {
        width:14px;float:right;margin-top:6px;
    }
    .catItemList .col-lg-2.col-md-2.col-xs-6 {
        padding-left:6px;padding-right:6px;padding-top:0!important;
    }
    .loadMore a{
        padding:15px 20px;display:block;width:100%;
    }
    .catItemList img{width:auto;min-height:100px;}
    .make_uniq_txt .tab-content{padding: 5% 0 0 0;}
    .getSec .col-md-4 .gbox{text-align:center;margin-bottom:20px;}
    .getSec .mt30{margin-top:0px;}
}
@media (max-width:767px) {
    .banner_text_section.slideRight {
        width: auto;
    }
    .banner_text_section h1 span {
        font-size: 40px;
    }
    .cl_steps_section {
        padding-top: 10px;
    }
    .temp_exmple {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
    }
    .temp_item {
        padding: 35px 30px;
    }
    .seeAllTemp {
        margin: 40px 0 0px;
    }
    img.howto_img {
        width: 100%;
        margin-top: 30px;
    }
    .faqs_section {
        margin: 20px ​0 50p;
        text-align: center;
    }
    .footer_section {
        text-align: center;
    }
    .footer_section h3 {
        margin: 30px 0;
    }
    #accordion {
        display: block;
    }
    .faq_list {
        display: none;
    }
    .make_business_section {
        padding: 50px 0 0px 0;
    }
    .fsteps {
        margin-top: 10px;
    }
    .fsteps ul li:before {
        display: none;
    }
    .make_business_section h2 br {
        display: none;
    }
    .im_testimonials {
        padding: 10px 30px 20px 30px;
    }
    .fsteps ul li img {
        position: initial;
    }
    .make_business_section .col-lg-8 {
        text-align:center;margin-bottom:30px;
    }
    .make_business_section .col-lg-8 img {
        width: 90%;
    }
    h2 {
        font-size: 25px;
    }
    .footer_section h3 {
        font-size: 20px;
    }
    .social_icon.text-right {
        text-align: center;
    }
    #accordion {
        display: block;
    }
    .testimonial_section {
        padding: 20px 0 0px 0;
    }
    .oslider {
        padding-right: 0; margin-top:40px;height:auto;
    }
    .slider-nav-thumbnails {
        position:initial;width:auto;
    }
    .slider-nav-thumbnails .slick-list.draggable {
        height:auto!important;width:80%;margin:0 auto;
    }
    .slider-nav-thumbnails .slick-slide.slick-current.slick-center img,
    .slider-nav-thumbnails .slick-slide.slick-current.slick-active img {
        margin-left:0;margin-top:-5px;
    }
    .slider-nav-thumbnails .slick-list.draggable .slick-slide {
        text-align: center;
    }
    button.slick-prev.slick-arrow {
        background: url(../images/business-card/mob_previous.svg) no-repeat center center;
        height:30px;width:30px;bottom:-20px;left: 36%;
    }
    button.slick-next.slick-arrow {
        background: url(../images/business-card/mob_next.svg) no-repeat center center;
        height:30px;width:30px;bottom:-20px;right: 36%;
    }
    .faqs_section h2 br {display:none;}
    .fsteps ul li {padding-left: 0;text-align:center;}
    .testimonial_section h2.text-center{margin-top:10px;}
    .f_template_section{margin-top: 0;}
}
@media (max-width:640px){
    .footer_widget .col-lg-2:nth-child(2),
    .footer_widget .col-lg-2:nth-child(3) {
        min-height: 250px;
    }
}    
@media(max-width:426px){
    .start_section ul.dropdown-menu{padding: 5px;min-width:300px;}
    .start_section ul.dropdown-menu li{width:115px;}
}
@media (max-width:325px){
    .start_section .dropdown-menu-right{
        right: -54px;
    }
}