@font-face {
    font-family: 'NunitoSans-Black';
    src: url('../fonts/NunitoSans-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans-Black.woff') format('woff');
    font-weight:900;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans-Bold.woff') format('woff');
    font-weight:bold;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight:800;font-style:normal;font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight:300;font-style:normal;font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight:600;font-style:normal;font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight:normal;font-style:normal;font-display: swap;
}
html {scroll-behavior: smooth;}
img {max-width: 100%;}
*, body{
    padding:0;margin:0;font-family:'NunitoSans-Regular';font-size: 14px;
}
.container {
    width:1170px;margin: 0 auto;
}
ul,
ol {
    margin:0;padding: 0px;
}
h6 {
    font-family:'NunitoSans-Bold';font-size: 18px;
}
.inner_nav ul.navUL {
    display: inline-block;
    margin-bottom: -18px;
}
h2 {
    font-size:30px;font-family: 'NunitoSans-ExtraBold';
}
.footer_section {
    background:#000;padding:70px 0 40px 0;color:#D2D2D2;
}
.footer_section .col-lg-1 img {width:70px;}
.footer_section h3 {
    font-size:25px;color:#fff;line-height:normal;margin: 0 0 30px 0;
}
/* ******************Mobile Nav******************** */
.mobile_menu {display: none;}
button.nav_btn {
    border: none; background:none;width:40px;
}
button.nav_btn span {
    display:block;height:4px;width:100%;background:#000;margin-bottom: 7px;
}
/* **********************************************Dropdown styling**************** */
.outer_d1 {
 position:absolute;background:#fff;width:900px;right:25px;text-align:left;display:flex;box-shadow:0 0 7px #9b9a9a;min-height:290px;top:32px;display:none;
}
.drop1:hover .outer_d1 {display:flex;}
li.drop2 {
    position: relative;
}
.inner_nav ul li .outer_d2 a,
.inner_nav ul li .outer_d1 a {
    color: #000;
}
.outer_d2 {
    position: absolute;background:#fff;box-shadow:0 0 7px #9b9a9a;width:180px;padding:20px 15px;top:32px;right:0;display:none;
}
li.drop2:hover .outer_d2 {display:block;}
.outer_d2 a {
    font-weight: normal !important; font-family:'NunitoSans-Regular'!important;display:inline-block;
}
.outer_d2 div {
    border-bottom:1px solid #F0F0F0;padding:12px 0;text-align: center;
}
.outer_d2 div:last-child {border:none;}
.inner_nav ul li img[alt="arrow"] {width: 13px;}
.top_header.navstiky {
    position: fixed; width:100%;background:#D2DAF3;padding:10px 30px 10px;
}
.navUL .dropdown-toggle:focus,
.navUL .dropdown-toggle:hover,
.navUL .dropdown-toggle {
    background:#fff!important;border:0!important;box-shadow:none!important;color:#000!important;outline:none!important;text-transform:capitalize;font-weight: 800;
}
.navUL .dropdown {
    margin-top:-8px;margin-right: 10px;
}
.inner_nav ul.navUL li ul li a {color: #000;}
.inner_nav ul.navUL li ul li {
    float: none; margin:0;padding-bottom:0!important;
}
ul.navUL .dropdown-menu>li>a {
    font-weight:800;color:#000;padding:5px 20px;margin-bottom:10px;margin-top: 10px;
}
ul.navUL .dropdown-menu li a img {
    margin-right:10px;width: 20px;
}
ul.navUL ul.dropdown-menu {
    padding: 10px 0;min-width: 190px;
}
.countery-icons{
    width: 20px; height:20px;background-repeat:no-repeat;background-size:contain;background-position:center;margin-right:5px;display:inline-block;margin-bottom:-7px;
}
.countery-icons.rk-en{background-image: url(../../webimages/flags/en_icon.svg)}
.countery-icons.rk-ru{background-image: url(../../webimages/flags/ru_icon.svg)}
.countery-icons.rk-ja{background-image: url(../../webimages/flags/ja_icon.svg)}
.countery-icons.rk-it{background-image: url(../../webimages/flags/it_icon.svg)}
.countery-icons.rk-fr{background-image: url(../../webimages/flags/fr_icon.svg)}
.countery-icons.rk-pt{background-image: url(../../webimages/flags/pt_icon.svg)}
.countery-icons.rk-es{background-image: url(../../webimages/flags/es_icon.svg)}
.countery-icons.rk-de{background-image: url(../../webimages/flags/de_icon.svg)}
.countery-icons.rk-zh{background-image: url(../../webimages/flags/zh_icon.svg)}
.countery-icons.rk-ar{background-image: url(../../webimages/flags/ar_icon.svg)}
.countery-icons.rk-id{background-image: url(../../webimages/flags/id_icon.svg)}
.countery-icons.rk-tr{background-image: url(../../webimages/flags/tr_icon.svg)}
.countery-icons.rk-ko{background-image: url(../../webimages/flags/ko_icon.svg)}
.countery-icons.rk-vi{background-image: url(../../webimages/flags/vi_icon.svg)}
.countery-icons.rk-nl{background-image: url(../../webimages/flags/nl_icon.svg)}
.countery-icons.rk-pl{background-image: url(../../webimages/flags/pl_icon.svg)}
.countery-icons.rk-no{background-image: url(../../webimages/flags/no_icon.svg)}
.countery-icons.rk-cs{background-image: url(../../webimages/flags/cs_icon.svg)}
.countery-icons.rk-sv{background-image: url(../../webimages/flags/sv_icon.svg)}
.countery-icons.rk-ro{background-image: url(../../webimages/flags/ro_icon.svg)}
.countery-icons.rk-da{background-image: url(../../webimages/flags/da_icon.svg)}
.countery-icons.rk-th{background-image: url(../../webimages/flags/th_icon.svg)}
.countery-icons.rk-hu{background-image: url(../../webimages/flags/hu_icon.svg)}
.countery-icons.rk-bn{background-image: url(../../webimages/flags/bn_icon.svg)}
.countery-icons.rk-el{background-image: url(../../webimages/flags/el_icon.svg)}

/******************** Mega menu start ********/
.memGen .megaHeading {height:100%;text-align:center;padding-top:100px;}
.inner_nav ul.navUL .megaBox.memGen a {color:#FF004F !important;}
.top_header {
    display:flex;flex-direction:row;align-items:center;z-index:10;position:fixed;width:100%;padding:10px 30px 0 30px;background:none;top:0;
}
.logo_section, .start_section {flex:1;}
.nav_section {flex: 2;}
.inner_nav {text-align: center;}
.start_section {text-align: right;}
.start_section .dropdown {
    display: inline-block;
}
.inner_nav ul.navUL li a {
    font-family: 'NunitoSans-Regular';
    color: #000000;
}
.inner_nav ul.navUL li {
    float:left;margin:0 15px;padding-bottom: 20px;
}
.outer_d2 {
    position:absolute;background:#fff;box-shadow:0 0 7px #dddddd;width:450px;padding:20px 25px;top:38px;right:-110px;display:none;
}
.outer_d1 {
    position:absolute;background:#fff;width:95%;left:3%;text-align:left;box-shadow:0 0 7px #dddddd;min-height:290px;top:59px;padding:20px 20px 20px 20px;border-radius:10px;display:none;
}
.inner_nav ul.navUL li ul li {
    float: none;margin:0;padding-bottom: 0px !important;
}
.start_section .dropdown button {
    background:#fff!important;border:0;color:#000;text-transform:capitalize;font-family:'NunitoSans-Regular';height:38px;box-shadow: 0 0 5px #c9c9c9;
}
.start_section .dropdown button .globalicon {
    margin-right:6px;height: 20px;
}
img.langDrop {margin-top: -3px;}
.megalist ul li {
    float: none; padding:0;margin:0;
}
.megaHeading {
    padding:20px 18px; background:#F5F5F5;border-radius:10px;
}
.megaHeading img {margin-bottom: 10px;height:32px;}
.megalist {margin:10px 0 8px 0; line-height:30px;}
.megaBox {flex-grow: 1; flex-basis:0;}
.megaMenu {display: flex; gap:13px;}
.megaMenu a {font-size: 13px;}
.megaVmore a {color: #FF004F !important;}
.logo_section img {height: 45px;}
.inner_nav ul li a.vlink1:hover{color: #FF004F;}
a.startBtn, .createBtn a{
    background:#FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;background-size:contain;color:#fff;text-transform:capitalize;font-weight:bold;font-size:15px;display:inline-block;padding:10px 20px;border-radius:5px;margin-left:5px;
}
a.startBtn:hover{text-decoration: none;}
.createBtn a {padding:14px 25px;font-size:14px;}
.hover_dicon{display:none;}
.inner_nav ul li a.vlink1:hover .defalt_dicon{
    display:none;
}
.inner_nav ul li a.vlink1:hover .hover_dicon{
    display: inline-block;
}
img.defalt_dicon, .hover_dicon{
    height:7px; margin-left:4px;
}
a.vlink1:hover, a.vlink2:hover{
    text-decoration: none;
}
.inner_nav ul li.drop1:hover .outer_d1{
    display: block;
}
.outer_d2 div {
    float: left; width:50%;text-align:left;padding:15px 0;
}
.outer_d2 div img {
    height: 25px; margin-right:7px;margin-top:-3px;
}
.new_btext {
    padding-right:10%;padding-left:20%;padding-top: 80px;
}
.new_banner {
    padding-top: 110px;padding-bottom:180px;
}
.new_btext h1 {
    font-family:'NunitoSans-ExtraBold';font-size:40px;
}
.new_btext p {
    margin:24px 0;font-size: 15px;
}
.header_bg {
    background: url(../images/emoji_bg.png) no-repeat;
    background-position:top center;background-size: cover;
}
.inner_search form {
    display: flex;
}
input#searchCat {
    width:100%;background:none;border:none;padding:10px 10px;margin:0!important;height: auto;
}
.inner_search {
    background:#fff;border-radius:5px;padding:5px;box-shadow: 0 0 10px #cbc3c3;
}
.inner_search input[type="submit"]{
    background: #FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;background-size:contain;color:#fff;padding:10px 40px;border-radius:5px;border:none;
}
input#searchCat:focus{
    outline:none;box-shadow: none;
}
.new_banner .container{
    position: relative;
}
.new_banner .container:before{
    background: url(../images/banner_before_icon.png) no-repeat;
    background-size:70px auto;content:"";position:absolute;width:95px;height:95px;top:180px;left:-30px;
}
.new_banner .col-lg-5{
    text-align: center;
}
.new_banner .col-lg-5 img {
    width: 80%;
}
.byCate{width:1250px;margin:0 auto;}
.byCate .ocatsec {
    background:#fff;padding:16px;margin-top:-50px;border-top-left-radius:10px;border-top-right-radius:10px;position:relative;display:flex;
    flex-wrap: wrap;
}
.byCate_heading {
    font-family: 'NunitoSans-ExtraBold';margin-bottom: 12px;
}
.nleft_sidebar {
    background:#D2DAF3;padding:20px;border-radius: 10px;min-height:94%;
}
.byCate .outersidebar{padding-left:0;padding-right:0;}
.nleft_sidebar a {
    color:#000;display:block;padding-left:15px;border-radius:5px;
}
.nleft_sidebar li{line-height:45px;}
.catItemList .col-lg-2 a{
    display: block;margin-bottom:15px;position:relative;
}
.loadMore{text-align:center;}
.loadMore a {
    background: #FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;color:#fff;padding:10px 20px;text-transform:uppercase;font-size:14px;display:inline-block;width:35%;font-weight:bold;border-radius:5px;margin-top: 20px;
}
.loadMore a:hover{
    text-decoration: none;
}
.catItemList .col-lg-2 a:last-child:after {
    content:"";position:absolute;height:80%;bottom:0;width:100%;z-index:1;left:0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 120%);
}
.mb_inner .d_d_2>a{
    background: url(../images/nav_drop_plus.png) no-repeat;
    background-position:97.5% center;
}
.mb_inner .d_d_2.activeDD>a{
    background: url(../images/nav_drop_minus.png) no-repeat;
    background-position:97.5% center;
}
.mb_inner .d_d_2 a>img {
    float: none !important;
    margin-top: 0px !important;
}
.new_btext h2 {
    font-size:22px;margin-top:10px;margin-bottom:0;
}
body .start_section .dropdown button:focus,
body .start_section .dropdown button:hover,
body .start_section .dropdown button:active{
    border:0!important;color:#000!important;outline:none!important;
}
.start_section ul.dropdown-menu {
    padding:30px;min-width:525px;border-radius:0;box-shadow:0 6px 12px rgb(0 0 0 / 15%);
}
.start_section ul.dropdown-menu li {
    margin: 2px 10px; padding:0;float:none;display:inline-block;width:125px;
}
.start_section .dropdown-menu>li>a {
    font-weight:800;color:#000;padding:3px 0;margin-bottom:5px;margin-top:5px;border-bottom:1px solid #ddd;
}
.start_section .open>.dropdown-toggle.btn-primary{
    color: #000;
}
.catItemList .col-lg-2 {width:20%;}
/******************************************************-------------** Mega menu end ********/
section.main-body-part .container{
    background:#fff; width:1250px;max-width:initial !important;
}
.inner-box .symbol-emoji{
    font-size: 30px;margin-bottom: 6px;
}
.p-0{padding:0;}
.cat-side{padding-right:50px;}
.cat-page-child{
    padding:0;background-color:#f7f7f7;text-align:center;display:inline-block;border:10px solid #FFF;vertical-align:middle;box-shadow:0 0 1px transparent;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-property:transform;transition-property:transform;
}
.inner-box .copy-cliboard {
    border: 0.5px solid #189a5b;color:#189a5b;font-size:10px;background-color:#fff;border-radius:4px;position:absolute;bottom:0;padding:2px 0;margin:0 auto;left:0;right:0;display:none;
}
.cat-page-child:hover {
    box-shadow:1px 1px 20px 0 #dae2eb;transform:scale(1.2);z-index:1;border-radius:0!important;background-color: #fff;
}
.catItemList {
    padding-right:0;padding-left:20px;
}
.inner-box{
    width:100%;height:140px;padding:27px 10px 0 10px;font-weight:600;overflow:hidden;display:inline-block;cursor:pointer;position:relative;
}
.cat-page-child:hover .inner-box .copy-cliboard {
    display: block;
}
.inner-box .copy-cliboard p {
    font-size:12px;font-weight: normal;
}
a.vall{color:#EE0D53;}
.lastEmj:after {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
    content: ""; position:absolute;height:80%;bottom:0;width:100%;z-index:1;left:0;
}
.dpBox ul li {
    display:inline-block;width:93px;text-align:center;padding:20px 0;
}
.dpBox {
    background: #F5FBFF; padding:15px 30px 30px 30px;
}
.dpBox h2{
    text-align: center; font-weight:bold;
}
.dpBox.dpBox2{
    background: #FFF8F2;
}
.morePlate h2 {
    text-align: center; margin:40px 0 15px 0;
}
.morePlate p{
    text-align: center; margin-bottom:30px;
}
.dpBox.dpBox3{
    text-align: center; margin-top:25px;background:#F9FDF5;
}
.morePlate{margin-bottom:60px;}
.lastEmj:hover:after{display:none;}
.footerLogo p{margin-top:20px;}
.catOption{padding-left:50px;}
.catOption img{
    width:28px;margin-right:13px;
}
.catOption a{color:#D2D2D2;}
.catOption li{margin-bottom:20px;}
.qlinks a{
    color: #D2D2D2;margin-bottom:24px;display:inline-block;
}
.writeTex{
    text-align: center; margin-top:50px;
}
.writeTex a {color: #D2D2D2;}
.catShortDes {
    text-align: center;
    width: 70%;
    margin: 0 auto 40px auto;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu.show {
    display: block;
}
.language-dropdown {
    max-height: 400px;
    overflow-y: auto;
    margin: 0;
    min-width: 525px;
    margin-left: auto!important;
    margin-top: 10px!important;
    right: 0;
    left: 0;
    padding: 33px;
    width: 420px;
}
.language-dropdown-toggle{
    height: 40px!important;
    display: flex;
    align-items: center;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
    margin: 0;
    min-width: 490px;
    margin-left: auto!important;
    margin-top: 10px!important;
    right: 0;
    left: 0;
    padding: 33px;
}
.language-dropdown .dropdown-item {
    display: inline-table;
    width: 118px;
    margin: 0.5rem 1rem;
    color: #212529;
    padding: 0!important;
    border-bottom: 1px solid #ddd!important;
}
.dropdown-menu a {
    color: #000!important;
    text-decoration: none;
    font-family: NunitoSans-Regular;
    font-size: 14px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.langDrop img {
    margin-right: 10px;
}

@media(max-width:1024px) {
    .container {
        width: auto;
    }
    .top_header {
        display: block;
        margin-bottom: 0;
        position: relative;
    }
    .mobile_menu {
        display: block;
    }
    .nav_section{
        display: none;
    }
    button.nav_btn {
        position: absolute;
        right: 20px;
        top: 28px;
    }
    li.strNow a{
        background: #dd1956;
    }
    .banner_section {
        min-height: auto;
    }
    .banner_text_section {
        text-align: center;
        margin-bottom: 20px;
    }
    .bimg1 {
        display: none;
    }
    .banner_section .col-md-7 img {
        display: inline-block;
        width: 100%;
    }
    .banner_section .mobile_show {
        display: none;
    }
    .mobile_show {
        display: block;
        text-align: center;
        padding: 30px 0 50px 0;
    }
    .desktop_show,
    .outer_rb_steps:before {
        display: none;
    }
    .mobile_show img {
        width: 90%;
    }
    .banner_section .col-md-7 {
        z-index: 1;
    }
    .banner_section .col-md-4 {
        width: auto;
        float: none;
    }
    .mobile_menu li a img {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
    }
    .mb_inner a:hover,
    .mb_inner a:focus {
        outline: none;
        text-decoration: none;
    }
    .outer_dd2,
    .mb_inner,
    .outer_dd22,
    .mb_inner,
    .outer_dd33,
    .mb_inner {
        display: none;
    }
    .inner_drop2 a {
        background: #DD1956;
        border-color: #bcbcbc !important;
    }
    .inner_drop2 {
        display: none;
    }
    li.cmeme a {
        background: none;
    }
    a.memBtn {
        display: none !important;
    }
    a.memBtn {
        padding: 6px 0;
    }
    /* ***************New ******** */
  .mobile_menu .oul_sec {
    background:#fff;display:none;padding:10px;position:fixed;top:0;left:0;width:100%;height:100%;padding-top:60px;overflow-x:auto;z-index:1;
    }
    .closenav_btn {
        border:none;background:none;position:absolute;top:20px;right:20px;cursor:pointer;
    }
    .mobile_menu ul li a {
        color:#000;display:block;padding: 10px 10px;
    }
    .mobile_menu li .d_d_2 a img:first-child, .drop2 .inner_drop2 div a img{
        height:30px;margin-right: 10px;
    }
    .outer_dd2{padding-left:42px;}
    .mb_inner .d_d_2:nth-child(6)>a img:first-child, li.drop2 .inner_drop2 div:nth-child(6) a img {
        width:29px;height: auto !important;
    }
    .new_banner {
        padding-top:60px;padding-bottom: 110px;
    }
    .new_btext {width:auto;text-align:center;padding:10px 0;}
    .new_banner .container:after {
        background-size:40px auto;background-position:top right;top:-10px;right:0;
    }
    .new_banner .container:before {display:none;}
    .banner_search {width: 100%;}
    /* .inner_search {
        position: relative;background:none;box-shadow:none;text-align:center;
    } */
    .inner_search input[type="text"] {
        width: 100%;background:#fff;box-shadow:0 0 15px #e0ded9;box-sizing:border-box;font-size:14px;height:50px;border-radius:6px;
    }
    .inner_search a.searchByCat {
        position: initial;margin-top:13px;display:inline-block;
    }
    .endsec{display:none;}
    .start_section a.startBtn {display: none;}
    .start_section .dropdown {
        position:absolute;top:20px;right:65px;
    }
    .start_section .dropdown button {
        font-size:0;padding:0;background:none !important;box-shadow:none !important;
    }
    .start_section .dropdown button .globalicon {
        margin-right: 0;
    }
    .start_section .dropdown button img.langDrop {
        display: none;
    }
    .mobile_menu ul li>a{
        border: none;color:#E41455;background:rgb(229 229 229);margin-bottom:10px;border-radius:5px;
    }
    .mobile_menu li.md_drop1 a img:last-child, li.drop2>a:first-child img {
        float:right;margin-top: 5px;
    }
    .mobile_menu ul li>a img {width:14px;}
    .mobile_menu ul {margin-top: 10px;}
    .closenav_btn:focus{
        outline: none;
        background:transparent !important;
    }
    .byCate {padding: 0px 30px;width:auto;}
    .byCate .ocatsec {padding: 15px;}
    .byCate .outersidebar {
        padding-left:0;padding-right: 0;
    }
    .catItemList {margin-top: 15px;}
    .nleft_sidebar {
        background: #d3dbf3;border-radius:0;padding:0;
    }
    .byCate_heading {
        text-align:center;font-size:16px;padding:20px 10px;background:#000;color:#fff;border-radius:10px;margin-bottom: 0;
    }
    .mobcdrop {
        padding:10px;background:#E3F1F2;border-radius:6px;
    }
    .nleft_sidebar ul{
        padding:10px;margin-top:2px;border-radius:6px;display:none;
    }
    .mobcdrop img {
        width:14px;float:right;margin-top:6px;
    }
    .catItemList .col-lg-2.col-md-2.col-xs-6 {
        padding-left:6px;padding-right:6px;padding-top:0!important;
    }
    .loadMore a{
        padding:15px 20px;display:block;width:100%;clear:both;
    }
    .make_uniq_txt .tab-content{padding: 5% 0 0 0;}
    .getSec .col-md-4 .gbox{text-align:center;margin-bottom:20px;}
    .getSec .mt30{margin-top:0px;}
    .catItemList .col-lg-2 {width:50%;}
    .stempSteps li{text-align:center;}
    .new_banner .col-lg-5 img{margin-top:30px;}
    .lastEmj:after{display:none;}
    .dpBox, .footer_section{text-align:center;}
    .dpBox ul{display:inline-block;}
    .dpBox ul li{width:78px;}
    .dpBox.dpBox2{padding-bottom:30px;}
    .catOption li {text-align:left;}
    .catOption{padding-left:15px;}
    .qlinks{text-align:left;}
    .catItemList{padding-left:0;}
    .catItemList .cat-page-child{width:45%;}
    .catItemList .cat-page{padding-left:15px;}
    .home .cat-page {padding-left:0;}
    .home .cat-page-child {width:50%;}
}
@media(max-width:426px){
    .start_section ul.dropdown-menu{padding: 5px;min-width:300px;}
    .start_section ul.dropdown-menu li{width:115px;}
}
@media (max-width:325px){
    .start_section .dropdown-menu-right{
        right: -54px;
    }
}
@media screen and (max-width: 768px) {
    .language-dropdown {
        min-width: 175px;
        width: 175px;
        max-width: 525px;
        padding: 16px;
    }
}