@font-face {
    font-family: 'NunitoSans-Black';
    src: url('../fonts/NunitoSans-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans-Black.woff') format('woff');
    font-weight:900;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans-Bold.woff') format('woff');
    font-weight:bold;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight:800;font-style:normal;font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight:300;font-style:normal;font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight:600;font-style:normal;font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight:normal;font-style:normal;font-display: swap;
}
html {scroll-behavior: smooth;}
img {max-width: 100%;}
*, body{
    padding:0;margin:0;font-family:'NunitoSans-Regular';font-size: 14px;
}
.container {
    width:1170px;margin: 0 auto;
}
ul,
ol {
    margin:0;padding: 0px;
}
h6 {
    font-family:'NunitoSans-Bold';font-size: 18px;
}
.inner_nav ul.navUL {
    display: inline-block;
    margin-bottom: -18px;
}
.createBtn {
    margin-top: 50px;
}
.createBtn span {
    display: inline-block;
}
.createBtn a {
    background:#FBB200;color:#000;padding:12px 20px;font-family:'NunitoSans-ExtraBold';border-radius: 5px;
}
.cmeme a:hover,
.createBtn a:hover {
    text-decoration: none
}
h2 {
    font-size:30px;font-family: 'NunitoSans-ExtraBold';
}
.footer_section {
    background:#000;padding: 50px 0 0 0;
}
.footer_section .col-lg-1 img {width:70px;}
.footer_section h3 {
    font-family:'NunitoSans-Bold';font-size:25px;color:#fff;line-height:normal;margin:0 0 0 30px;
}
.social_icon a img {
    width:60px;margin:0 3px;transition: .5s;
}
.footer_section .row:first-child {
    border-bottom:1px solid #707070;padding-bottom:30px;margin-bottom: 40px;
}
.footer_widget h4 {
    font-size:18px;color:#fff;font-family:'NunitoSans-Bold';margin-bottom:20px;margin-top: 0;
}
.footer_widget ul a {
    color:#B5B5BB;margin-bottom:14px;display: inline-block;
}
.footer_email img {
    width:20px;margin-right: 6px;
}
.footer_email a {color: #B5B5BB;}
.footer_address span {
    font-family: 'NunitoSans-SemiBold';color:#B5B5BB;
}
.footer_address h4 {
    margin-bottom: 5px; margin-top:25px;
}
.fsocial img {
    width: 40px; margin-right:5px;
}
.fsocial {margin-top: 10px;}
.copywrite {
    text-align:center;color:#fff;font-size:13px;padding: 30px 0;
}
.copywrite a {color: #fff;}
/* ******************Mobile Nav******************** */
.mobile_menu {display: none;}
button.nav_btn {
    border: none; background:none;width:40px;
}
button.nav_btn span {
    display:block;height:4px;width:100%;background:#000;margin-bottom: 7px;
}
.faqs_section .panel-title a {
    background: url(../images/dd_icon.png) no-repeat right center;
    display: block; font-size:14px;font-family:'NunitoSans-Bold';padding-left:20px;padding-right:20px;
}
.faqs_section .panel-default>.panel-heading {
    color: #000 !important; background-color:transparent;border:none!important;
}
.faqs_section .panel-group .panel {border: none;}
.panel-body {border: none !important;}
#accordion {display: none;}
/* **********************************************Dropdown styling**************** */
.outer_d1 {
 position:absolute;background:#fff;width:900px;right:25px;text-align:left;display:flex;box-shadow:0 0 7px #9b9a9a;min-height:290px;top:32px;display:none;
}
.drop1:hover .outer_d1 {display:flex;}
li.drop2 {
    position: relative;
}
.inner_nav ul li .outer_d2 a,
.inner_nav ul li .outer_d1 a {
    color: #000;
}
.outer_d2 {
    position: absolute;background:#fff;box-shadow:0 0 7px #9b9a9a;width:180px;padding:20px 15px;top:32px;right:0;display:none;
}
li.drop2:hover .outer_d2 {display:block;}
.outer_d2 a {
    font-weight: normal !important; font-family:'NunitoSans-Regular'!important;display:inline-block;
}
.outer_d2 div {
    border-bottom:1px solid #F0F0F0;padding:12px 0;text-align: center;
}
.outer_d2 div:last-child {border:none;}
.dvAll a {
    background: #FD0000; color:#fff!important;display:inline-block;padding:6px 15px;font-size:13px;
}
.footer_widget .col-lg-1 {display: none;}
.inner_nav ul li img[alt="arrow"] {width: 13px;}
.padding.hp-sec {text-align: center;}
.padding.hp-sec.whySST p {
    width: 70%; margin:0 auto;
}
.bst-heading h2 {
    text-align: center; margin-bottom:40px;
}
.clear {clear: both;}
.padding {
    margin-top:-4em; padding:50px 0 50px 0
}
.animation_2 {padding-top: 3em;}
p.text-center.mb-5 {margin-bottom: 50px;}
.meme_video {
    background:#3C50E0;text-align:center;padding-top:2em;padding-bottom:8em;margin-top:50px;
}
.meme_video h2,
.meme_video p {
    color: #ffffff;
}
.bg-imge-section h3 {
  font-size:30px;font-weight:bold;margin:5px 0;
}
.bg-imge-section .col-p {padding: 50px 25px 20px 0;}
.bg-imge-section .col-p .img-margin {
    padding-left: 60px; width:100%;
}
.bg-imge-section {
    background: url(../images/meme/jagged-border.png);
    background-size: cover;
}
.hp-sec h3 {
    font-size:30px;font-weight:bold;text-align:center;margin: 45px 0 35px 0;
}
.hp-sec p {text-align: center;}
.meme-maker-section .text {width: 85%;}
.meme-maker-section .text h3 {
    margin-left: 4%; margin-top:4%;font-size:20px;
}
.meme-maker-section .text p {
    margin-left: 4%; margin-top:4%;
}
.meme-maker-section img {width: 70px;}
.image {
    width: 15%; margin:10px 0;
}
.content-box h4 {
    margin:0 0 20px 0;font-size:22px;font-weight: bold;
}
.content-box {
    background-color:#F8F8F8;width:100%;min-height:225px;padding:34px 45px 34px 45px;border-radius: 10px;
}
.mg_testimonials {
  background-color:#fbb200;   padding: 60px 0 50px 0;
}
.mg_testimonials h2 {
    text-align: center; color:#fff;margin-bottom:30px;
}
.testimonial {
    background:#fff;padding:30px 40px 20px 40px;margin-left:8px;margin-right:8px;border-radius:5px;box-shadow:0 0 10px #999999;min-height:280px;position: relative;
}
.slick-slide {
    display:block;float:left;height: 100%;
}
.slick-slide img {display: inline-block;}
.tcontent {
    padding: 20px 0 0 0; font-size:14px;
}
.tinfo {
    position: absolute; top:10px;
}
.pm_stars {
    margin-left: 55px; margin-top:18px;
}
.tstars img {margin: 18px 10px 0 0;}
.carousel-inner {
    display: flex; justify-content:center;
}
.w-60 {width: 60% !important;}
.bg-imge-section #accordion {display: block;}
.content-box h2 {font-size: 20px;}
.faqs_section h1,
.faqs_section h2 {
    font-size: 30px; font-family:'NunitoSans-ExtraBold';
}
.faqs_section h3 {
    font-size: 20px; font-family:'NunitoSans-ExtraBold';
}
.faq_list {margin-bottom: 30px;}
.faqs_section {margin: 60px 0 60px;}
.animation_1,
.animation_2 {
    position: relative;
}
a.memBtn {
    position:absolute;width:170px;background:#e2e0cc;color:#000;padding:10px 0;border-radius:6px;bottom:90px;left:0;right:0;margin-left:51%;text-align:center;font-weight:bold;border:1px solid #000;
}
.row.animation_2 a.memBtn {bottom: 21%;}
.stckyBtn {
    position:fixed;bottom:0;width:100%;text-align:center;z-index:9;background: #000;
}
.stckyBtn a.memBtn {
    position:initial;display:inline-block;margin-left: 10px;
}
.stckyBtn span {
    background:#000;display:inline-block;padding:15px 20px;border-top-left-radius:6px;border-top-right-radius:6px;font-weight:bold;color: #fff;
}
.stckyBtn a.memBtn:hover {text-decoration: none;}
.top_header.navstiky {
    position: fixed; width:100%;background:#e2e0cc;padding:10px 30px 10px;
}
.animation_2 span {
    display: block;
    position: relative;
}
.navUL .dropdown-toggle:focus,
.navUL .dropdown-toggle:hover,
.navUL .dropdown-toggle {
    background:#fff!important;border:0!important;box-shadow:none!important;color:#000!important;outline:none!important;text-transform:capitalize;font-weight: 800;
}
.navUL .dropdown {
    margin-top:-8px;margin-right: 10px;
}
.inner_nav ul.navUL li ul li a {color: #000;}
.inner_nav ul.navUL li ul li {
    float: none; margin:0;padding-bottom:0!important;
}
ul.navUL .dropdown-menu>li>a {
    font-weight:800;color:#000;padding:5px 20px;margin-bottom:10px;margin-top: 10px;
}
ul.navUL .dropdown-menu li a img {
    margin-right:10px;width: 20px;
}
ul.navUL ul.dropdown-menu {
    padding: 10px 0;min-width: 190px;
}
.stempSteps h3 {font-size: 20px;}
.stempSteps li {
    background: #fff; padding:10px 15px;margin-bottom:10px;border-radius:10px;
}
.stempSteps li p {margin-bottom: 0px;}
div#howtomake .headings h2 {margin-top: 0;}
.countery-icons{
    width: 20px; height:20px;background-repeat:no-repeat;background-size:contain;background-position:center;margin-right:5px;display:inline-block;margin-bottom:-7px;
}
.countery-icons.rk-en{background-image: url(../../webimages/flags/en_icon.svg)}
.countery-icons.rk-ru{background-image: url(../../webimages/flags/ru_icon.svg)}
.countery-icons.rk-ja{background-image: url(../../webimages/flags/ja_icon.svg)}
.countery-icons.rk-it{background-image: url(../../webimages/flags/it_icon.svg)}
.countery-icons.rk-fr{background-image: url(../../webimages/flags/fr_icon.svg)}
.countery-icons.rk-pt{background-image: url(../../webimages/flags/pt_icon.svg)}
.countery-icons.rk-es{background-image: url(../../webimages/flags/es_icon.svg)}
.countery-icons.rk-de{background-image: url(../../webimages/flags/de_icon.svg)}
.countery-icons.rk-zh{background-image: url(../../webimages/flags/zh_icon.svg)}
.countery-icons.rk-ar{background-image: url(../../webimages/flags/ar_icon.svg)}
.countery-icons.rk-id{background-image: url(../../webimages/flags/id_icon.svg)}
.countery-icons.rk-tr{background-image: url(../../webimages/flags/tr_icon.svg)}
.countery-icons.rk-ko{background-image: url(../../webimages/flags/ko_icon.svg)}
.countery-icons.rk-vi{background-image: url(../../webimages/flags/vi_icon.svg)}
.countery-icons.rk-nl{background-image: url(../../webimages/flags/nl_icon.svg)}
.countery-icons.rk-pl{background-image: url(../../webimages/flags/pl_icon.svg)}
.countery-icons.rk-no{background-image: url(../../webimages/flags/no_icon.svg)}
.countery-icons.rk-cs{background-image: url(../../webimages/flags/cs_icon.svg)}
.countery-icons.rk-sv{background-image: url(../../webimages/flags/sv_icon.svg)}
.countery-icons.rk-ro{background-image: url(../../webimages/flags/ro_icon.svg)}
.countery-icons.rk-da{background-image: url(../../webimages/flags/da_icon.svg)}
.countery-icons.rk-th{background-image: url(../../webimages/flags/th_icon.svg)}
.countery-icons.rk-hu{background-image: url(../../webimages/flags/hu_icon.svg)}
.countery-icons.rk-bn{background-image: url(../../webimages/flags/bn_icon.svg)}
.countery-icons.rk-el{background-image: url(../../webimages/flags/el_icon.svg)}

/******************** Mega menu start ********/
.memGen .megaHeading {height:100%;text-align:center;padding-top:100px;}
.inner_nav ul.navUL .megaBox.memGen a {color:#FF004F !important;}
.top_header {
    display:flex;flex-direction:row;align-items:center;z-index:10;position:fixed;width:100%;padding:10px 30px 0 30px;background:none;top:0;
}
.logo_section, .start_section {flex:1;}
.nav_section {flex: 2;}
.inner_nav {text-align: center;}
.start_section {text-align: right;}
.start_section .dropdown {
    display: inline-block;
}
.inner_nav ul.navUL li a {
    font-family: 'NunitoSans-Regular';
    color: #000000;
}
.inner_nav ul.navUL li {
    float:left;margin:0 15px;padding-bottom: 20px;
}
.outer_d2 {
    position:absolute;background:#fff;box-shadow:0 0 7px #dddddd;width:450px;padding:20px 25px;top:38px;right:-110px;display:none;
}
.outer_d1 {
    position:absolute;background:#fff;width:95%;left:3%;text-align:left;box-shadow:0 0 7px #dddddd;min-height:290px;top:59px;padding:20px 20px 20px 20px;border-radius:10px;display:none;
}
.inner_nav ul.navUL li ul li {
    float: none;margin:0;padding-bottom: 0px !important;
}
.start_section .dropdown button {
    background:#fff!important;border:0;color:#000;text-transform:capitalize;font-family:'NunitoSans-Regular';height:38px;box-shadow: 0 0 5px #c9c9c9;
}
.start_section .dropdown button .globalicon {
    margin-right:6px;height: 20px;
}
img.langDrop {margin-top: -3px;}
.megalist ul li {
    float: none; padding:0;margin:0;
}
.megaHeading {
    padding:20px 18px; background:#F5F5F5;border-radius:10px;
}
.megaHeading img {margin-bottom: 10px;height:32px;}
.megalist {margin:10px 0 8px 0; line-height:30px;}
.megaBox {flex-grow: 1; flex-basis:0;}
.megaMenu {display: flex; gap:13px;}
.megaMenu a {font-size: 13px;}
.megaVmore a {color: #FF004F !important;}
.logo_section img {height: 45px;}
.inner_nav ul li a.vlink1:hover{color: #FF004F;}
a.startBtn, .createBtn a{
    background:#FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;background-size:contain;color:#fff;text-transform:uppercase;font-weight:bold;font-size:13px;display:inline-block;padding:10px 20px;border-radius:5px;margin-left:5px;
}
a.startBtn:hover{text-decoration: none;}
.createBtn a {padding:14px 25px;font-size:14px;}
.hover_dicon{display:none;}
.inner_nav ul li a.vlink1:hover .defalt_dicon{
    display:none;
}
.inner_nav ul li a.vlink1:hover .hover_dicon{
    display: inline-block;
}
img.defalt_dicon, .hover_dicon{
    height:7px; margin-left:4px;
}
a.vlink1:hover, a.vlink2:hover{
    text-decoration: none;
}
.inner_nav ul li.drop1:hover .outer_d1{
    display: block;
}
/* .inner_nav ul.navUL{
margin-bottom:-18px;
} */
.outer_d2 div {
    float: left; width:50%;text-align:left;padding:15px 0;
}
.outer_d2 div img {
    height: 25px; margin-right:7px;margin-top:-3px;
}
.new_banner {
    padding-top: 110px;padding-bottom:180px;
}
.new_btext {
    width: 60%;margin:0 auto;text-align: center;
}
.new_btext h1 {
    text-align: center;font-family:'NunitoSans-ExtraBold';
}
.new_btext p {
    text-align: center;margin:24px 0;
}
.header_bg {
    background: url(../images/meme_bg.png) no-repeat;
    background-position:top center;background-size: cover;
}
.new_banner .container{
    position: relative;
}
.new_banner .container:before{
    background: url(../images/banner_before_icon.png) no-repeat;
    background-size:70px auto;content:"";position:absolute;width:95px;height:95px;bottom:-40px;left:0;
} 
.new_banner .container:after{
    background: url(../images/banner_after_icon.png) no-repeat;
    background-size:50px auto;content:"";position:absolute;width:95px;height:95px;top:10px;right:0;
}
.byCate{padding:0px 60px;width:1250px;margin:0 auto;}
.byCate .ocatsec {
    background:#fff;padding:16px;margin-top:-50px;border-top-left-radius:10px;border-top-right-radius:10px;position:relative;display:flex;
    flex-wrap: wrap;
}
.byCate_heading {
    font-family: 'NunitoSans-ExtraBold';margin-bottom: 12px;
}
.nleft_sidebar {
    background:#D8EFDE;padding:20px;border-radius: 10px;min-height: 94%;
}
.byCate .outersidebar{padding-left: 0;}
.nleft_sidebar a {
    color:#000;display:block;padding-left:15px;border-radius: 5px;
}
.nleft_sidebar li {line-height:35px;}
.nleft_sidebar .active a, .nleft_sidebar a:hover{
    background: #fff url(../images/bycat_arrow.png) no-repeat;
    background-position:90% center;background-size:15px auto;color:#FF004F;text-decoration:none;
}
.catItemList img{
    width: 100%;border-radius:10px;height:260px;
}
.catItemList .col-lg-2 a{
    display: block;margin-bottom:15px;position:relative;
}
.loadMore{text-align:center;}
.loadMore a {
    background: #FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;color:#fff;padding:10px 20px;text-transform:uppercase;font-size:14px;display:inline-block;width:35%;font-weight:bold;border-radius:5px;
}
.loadMore a:hover{
    text-decoration: none;
}
.catItemList .col-lg-2 a:last-child:after {
    content:"";position:absolute;height:80%;bottom:0;width:100%;z-index:1;left:0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 120%);
}
.mb_inner .d_d_2>a{
    background: url(../images/nav_drop_plus.png) no-repeat;
    background-position:97.5% center;
}
.mb_inner .d_d_2.activeDD>a{
    background: url(../images/nav_drop_minus.png) no-repeat;
    background-position:97.5% center;
}
.mb_inner .d_d_2 a>img {
    float: none !important;
    margin-top: 0px !important;
}
.new_btext h2 {
    font-size:22px;margin-top:10px;margin-bottom:0;
}
body .start_section .dropdown button:focus,
body .start_section .dropdown button:hover,
body .start_section .dropdown button:active{
    border:0!important;color:#000!important;outline:none!important;
}
.start_section ul.dropdown-menu {
    padding:30px;min-width:525px;border-radius:0;box-shadow:0 6px 12px rgb(0 0 0 / 15%);
}
.start_section ul.dropdown-menu li {
    margin: 2px 10px; padding:0;float:none;display:inline-block;width:125px;
}
.start_section .dropdown-menu>li>a {
    font-weight:800;color:#000;padding:3px 0;margin-bottom:5px;margin-top:5px;border-bottom:1px solid #ddd;
}
.start_section .open>.dropdown-toggle.btn-primary{
    color: #000;
}
.catItemList .col-lg-2 {width:20%;}
/******************************************************-------------** Mega menu end ********/
.img-sec {
    /* background: url(../images/meme/Path.png); */
    background-repeat: no-repeat;
    background-position: revert;
    background-position-x: right;
    margin-top: -12px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.f_template_section {
    text-align: center;
}
.temp_exmple {
    padding-right: 4%;
    padding-left: 4%;
}
.temp_exmple {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.f_template_section p {
    margin: 20px 0 50px 0;
    font-size: 16px;
}
.f_template_section .temp_item {
    background: #F5F5F5;
    padding: 16px;
    border-radius: 0;
}
.tempItem-head a {
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-decoration: none;
}
.seeAllTemp{
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}
.seeAllTemp a{
    background: #3C50E0;
    color: #fff;
    padding: 12px 20px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 15px;
}
.f_template_section .temp_item img {
    width: 180px;
    padding-bottom: 17px;
}


@media (min-width:1050px) {
    .footer_widget .col-lg-2 {
        width: 20%;
    }
}
@media(max-width:1024px) {
    .container {
        width: auto;
    }
    .top_header {
        display: block;
        margin-bottom: 0;
        position: relative;
    }
    .mobile_menu {
        display: block;
    }
    .nav_section{
        display: none;
    }
    button.nav_btn {
        position: absolute;
        right: 20px;
        top: 28px;
    }
    li.strNow a{
        background: #dd1956;
    }
    .banner_section {
        min-height: auto;
    }
    .banner_text_section {
        text-align: center;
        margin-bottom: 20px;
    }
    .bimg1 {
        display: none;
    }
    .banner_section .col-md-7 img {
        display: inline-block;
        width: 100%;
    }
    .banner_section .mobile_show {
        display: none;
    }
    .mobile_show {
        display: block;
        text-align: center;
        padding: 30px 0 50px 0;
    }
    .desktop_show,
    .outer_rb_steps:before {
        display: none;
    }
    .mobile_show img {
        width: 90%;
    }
    .banner_section .col-md-7 {
        z-index: 1;
    }
    .banner_section .col-md-4 {
        width: auto;
        float: none;
    }
    .mobile_menu li a img {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
    }
    .mb_inner a:hover,
    .mb_inner a:focus {
        outline: none;
        text-decoration: none;
    }
    /* .mb_inner a {
        background: #DD1956;
        border-color: #bcbcbc !important;
    } */
    .outer_dd2,
    .mb_inner,
    .outer_dd22,
    .mb_inner,
    .outer_dd33,
    .mb_inner {
        display: none;
    }
    .inner_drop2 a {
        background: #DD1956;
        border-color: #bcbcbc !important;
    }
    .inner_drop2 {
        display: none;
    }
    li.cmeme a {
        background: none;
    }
    a.memBtn {
        display: none !important;
    }
    .stckyBtn a.memBtn {
        display: inline-block !important;
    }
    .stckyBtn span {
        display: block;
        text-align: center;
        padding: 10px 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    a.memBtn {
        padding: 6px 0;
    }
    /* ***************New ******** */
  .mobile_menu .oul_sec {
    background:#fff;display:none;padding:10px;position:fixed;top:0;left:0;width:100%;height:100%;padding-top:60px;overflow-x:auto;z-index:1;
    }
    .closenav_btn {
        border:none;background:none;position:absolute;top:20px;right:20px;cursor:pointer;
    }
    .mobile_menu ul li a {
        color:#000;display:block;padding: 10px 10px;
    }
    .mobile_menu li .d_d_2 a img:first-child, .drop2 .inner_drop2 div a img{
        height:30px;margin-right: 10px;
    }
    .outer_dd2{padding-left:42px;}
    .mb_inner .d_d_2:nth-child(6)>a img:first-child, li.drop2 .inner_drop2 div:nth-child(6) a img {
        width:29px;height: auto !important;
    }
    .new_banner {
        padding-top:60px;padding-bottom: 110px;
    }
    .new_btext {width: 80%;}
    .new_banner .container:after {
        background-size:40px auto;background-position:top right;top:-10px;right:0;
    }
    .new_banner .container:before {
        background-size:60px auto;bottom:-80px;left:30px;
    }
    .banner_search {width: 100%;}
    .inner_search {
        position: relative;background:none;box-shadow:none;text-align:center;
    }
    .inner_search input[type="text"] {
        width: 100%;background:#fff;box-shadow:0 0 15px #e0ded9;box-sizing:border-box;font-size:14px;height:50px;border-radius:6px;
    }
    .inner_search a.searchByCat {
        position: initial;margin-top:13px;display:inline-block;
    }
    .endsec{display:none;}
    .start_section a.startBtn {display: none;}
    .start_section .dropdown {
        position:absolute;top:20px;right:65px;
    }
    .start_section .dropdown button {
        font-size:0;padding:0;background:none !important;box-shadow:none !important;
    }
    .start_section .dropdown button .globalicon {
        margin-right: 0;
    }
    .start_section .dropdown button img.langDrop {
        display: none;
    }
    .mobile_menu ul li>a{
        border: none;color:#E41455;background:rgb(229 229 229);margin-bottom:10px;border-radius:5px;
    }
    .mobile_menu li.md_drop1 a img:last-child, li.drop2>a:first-child img {
        float:right;margin-top: 5px;
    }
    .mobile_menu ul li>a img {width:14px;}
    .mobile_menu ul {margin-top: 10px;}
    .closenav_btn:focus{
        outline: none;
        background:transparent !important;
    }
    .byCate {padding: 0px 30px;width:auto;}
    .byCate .ocatsec {padding: 15px;}
    .byCate .outersidebar {
        padding-left:0;padding-right: 0;
    }
    .catItemList {margin-top: 15px;}
    .nleft_sidebar {
        background: #fff;padding:0;border-radius:0;
    }
    .byCate_heading {
        text-align: center; font-size:16px;
    }
    .mobcdrop {
        padding:10px;background:#E3F1F2;border-radius:6px;
    }
    .nleft_sidebar ul{
        background:#E3F1F2;padding:10px;margin-top:2px;border-radius:6px;display:none;
    }
    .mobcdrop img {
        width:14px;float:right;margin-top:6px;
    }
    .catItemList .col-lg-2.col-md-2.col-xs-6 {
        padding-left:6px;padding-right:6px;padding-top:0!important;
    }
    .loadMore a{
        padding:15px 20px;display:block;width:100%;
    }
    .catItemList img{width:auto;min-height:100px;}
    .make_uniq_txt .tab-content{padding: 5% 0 0 0;}
    .getSec .col-md-4 .gbox{text-align:center;margin-bottom:20px;}
    .getSec .mt30{margin-top:0px;}
    .catItemList .col-lg-2 {
        width: 50%;
    }
    .catItemList img{height:200px;}
    .stempSteps li{text-align:center;}
}
@media (max-width:767px) {
    .animation_1 img.w-100 {
        width: 100%;
    }
    .temp_exmple {
        display: block;
    }
    .f_template_section .temp_item {
        margin-bottom: 20px;
    }
    .faqs_section {
        margin: 50px 0;
        text-align: center;
    }
    .footer_section {
        text-align: center;
    }
    .footer_section h3 {
        margin: 30px 0;
    }
    #accordion {
        display: block;
    }
    .banner_section .col-md-7 {
        min-height: auto;
        margin-bottom: -95px;
    }
    .temp_exmple ul li {
        width: 49%;
        padding: 5px;
    }
    h2 {
        font-size: 25px;
    }
    .footer_section h3 {
        font-size: 20px;
    }
    .social_icon.text-right,
    .rb_step_2 {
        text-align: center;
    }
    .bg-imge-section .col-p {
        padding: 0px 15px 20px 15px;
    }
    .bg-imge-section .col-p .headings {
        text-align: center;
    }
    .padding.bg-imge-section {
        padding-bottom: 0;
    }
    .mt120 {
        margin-top: 0px;
    }
    .inner_item {
        margin-top: 0;
    }
    .w-60 {
        width: auto !important;
    }
    .padding.hp-sec.whySST p {
        width: auto;
    }
    .image {
        width: auto;
        text-align: center;
        display: block;
    }
    .meme-maker-section .col-md-6.col-12.row.mx-0 {
        display: block;
        text-align: center;
    }
    .padding.whymeme.animation_4 {
        padding-top: 0;
        padding-bottom: 0px;
        text-align: center;
    }
    .content-box {
        margin-bottom: 20px;
    }
    .faqs_section h1 {
        margin-bottom: 30px;
    }
    .faqs_section h1 br {
        display: none;
    }
}
@media (max-width:640px) {
    .footer_widget .col-lg-2:nth-child(2),
    .footer_widget .col-lg-2:nth-child(3) {
        min-height: 250px;
    }
    .img-sec {
        margin-top: 100px;
        padding-top: 5px;
    }
    .banner_text_section h1 {
        margin-top: 40px;
    }
}
@media(max-width:426px){
    .start_section ul.dropdown-menu{padding: 5px;min-width:300px;}
    .start_section ul.dropdown-menu li{width:115px;}
}
@media (max-width:325px){
    .start_section .dropdown-menu-right{
        right: -54px;
    }
}