@font-face {
    font-family: 'NunitoSans-Black';
    src: url('../fonts/NunitoSans-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-Italic';
    src: url('../fonts/NunitoSans-Italic.woff2') format('woff2'),
        url('../fonts/NunitoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-ExtraLightItalic';
    src: url('../fonts/NunitoSans-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-BoldItalic';
    src: url('../fonts/NunitoSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-BlackItalic';
    src: url('../fonts/NunitoSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-ExtraBoldItalic';
    src: url('../fonts/NunitoSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-ExtraLight';
    src: url('../fonts/NunitoSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-SemiBoldItalic';
    src: url('../fonts/NunitoSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-LightItalic';
    src: url('../fonts/NunitoSans-LightItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
*,
body {
    padding: 0;
    margin: 0px;
    font-family: 'NunitoSans-Regular';
    font-size: 14px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
ul,
ol {
    margin: 0px;
    padding: 0px;
}
h6 {
    font-family: 'NunitoSans-Bold';
    font-size: 18px;
}
/* .header_bg {
    background: url(../images/poster/⁯eid_posterbg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
} */
.inner_nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.mb0 {
    margin-bottom: 0px;
}
.footer_section {
    background:#000;padding: 50px 0 0 0;
}
.footer_section .col-lg-1 img {
    width: 70px;
}
.footer_section h3 {
    font-family: 'NunitoSans-Bold';
    font-size:25px;color:#fff;line-height:normal;margin: 0 0 0 30px;
}
.social_icon a img {
    width:60px;margin:0 3px;transition:.5s;
}
.footer_section .row:first-child {
    border-bottom:1px solid #707070;padding-bottom:30px;margin-bottom: 40px;
}
.footer_widget h4 {
    font-size:18px;color:#fff;font-family:'NunitoSans-Bold';margin-bottom:20px;margin-top: 0;
}
.footer_widget ul a {
    color:#B5B5BB;margin-bottom:14px;display: inline-block;
}
.footer_form {
    border-bottom:1px solid #707070;position:relative;margin-top:30px;margin-bottom: 20px;
}
.footer_form input[type="text"] {
    border:none;background:none;color:#fff;width: 90%;
}
.footer_form input[type="text"]:focus {
    outline:none;box-shadow:none!important;border: none !important;
}
.footer_form button {
    position:absolute;right:0;background:none;border: none;
}
.footer_form button img {
    width: 22px;
}
.footer_form ::placeholder {
    color:#B5B5BB;opacity: 1;
}
.footer_form :-ms-input-placeholder {
    color: #B5B5BB;
}
.footer_form ::-ms-input-placeholder {
    color: #B5B5BB;
}
.footer_email img {
    width:20px;margin-right: 6px;
}
.footer_email a {
    color: #B5B5BB;
}
.footer_address span {
    font-family: 'NunitoSans-SemiBold';
    color: #B5B5BB;
}
.footer_address h4 {
    margin-bottom:5px;margin-top: 25px;
}
.fsocial img {
    width: 40px; margin-right:5px;
}
.fsocial {
    margin-top: 10px;
}
.copywrite {
    text-align:center;color:#fff;font-size:13px;padding:30px 0;
}
.copywrite a {
    color: #fff;
}
/* ******************Mobile Nav******************** */
.mobile_menu {
    display: none;
}
button.nav_btn {
    border:none;background:none;width: 40px;
}
button.nav_btn span {
    display:block;height:4px;width:100%;background:#ffffff;margin-bottom: 7px;
}
.panel-body {
    border: none !important;padding-left:37px;
}
i.glyphicon-minus {
    background:#6805DF;padding:5px;border-radius: 40px;
}
i.glyphicon-plus {
    padding:5px;border-radius:40px;background:#fff;color:#000;
}
.panel-group .panel+.panel {
    margin-top: 12px;
}
i.more-less {
    margin-right: 10px;
}
.carousel-controls.testimonial-carousel-controls {
    margin-bottom: -160px;
}
/* **********************************************Dropdown styling**************** */
.drop1:hover .outer_d1 {
    display: flex;
}
li.drop2 {
    position: relative;
}
li.drop2:hover .outer_d2 {
    display: block;
}
.outer_d2 a {
    font-weight: normal !important;
    font-family: 'NunitoSans-Regular' !important;
    display: inline-block;
}
.outer_d2 div {
    border-bottom:1px solid #F0F0F0;padding:12px 0;text-align: center;
}
.outer_d2 div:last-child {
    border: none;
}
.dvAll a {
    background:#FD0000;color:#fff!important;display:inline-block;padding:6px 15px;font-size: 13px;
}
h2 {
    font-family: 'NunitoSans-ExtraBold';
}
.creat_poster h2 {
    font-family:'NunitoSans-ExtraBold';text-align: center;
}
.row.blue_bg {
    margin-bottom:0;background:#00183A;color:#fff;padding:50px;margin-left:0;margin-right:0;border-radius:10px;
}
.blue_text h2 {
    margin-top: 0;
    font-size: 25px;
}
.blue_text {
    text-align: center;
}
.outer_bbg {
    padding:0 6%;margin-top:130px;position:relative;margin-bottom:100px;
}
.blue_text p {
    margin-bottom: 0;
}
.row.cposter {
    padding: 30px 0;
    margin: 0;
}
.cover_img {
    position:absolute;top:-80px;left:90px;
}
.cover_img img {
    width: 400px;
}
.p_templates h2,
.p_templates p {
    text-align: center;
}
.p_templates {
    background:#00183A;color:#fff;padding:50px 0;
}
.pcat_list {
    padding-right: 10%;
}
.pcat_list a {
    display:inline-block;color:#fff;padding:5px 20px;border:2px solid #fff;margin-right:10px;margin-bottom:10px;border-radius:50px;font-size:16px;transition:.3s;cursor:pointer;
}
.pcat_list a:hover {
    text-decoration:none;border:2px solid #6805DF;background:#6805DF;
}
.p_templates .row {
    margin-top:50px;margin-left:0;margin-right: 0;
}
.pt_list {
    overflow: hidden;
}
.pt_list ul li {
    display: inline-block;
    width: 33%;
    padding: 10px;
    float: left;
}
.pt_list a {
    display: block;position:relative;overflow: hidden;
}
.pt_list a:after {
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
    content: "";position:absolute;top:-50%;left:-60%;width:20%;height:200%;opacity:0;transform: rotate(30deg);
}
.pt_list a:hover:after {
    opacity: 1;
    left: 130%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}
.pt_list ul li img {
    width: 100%; height:auto;
}
.seeAll {
    text-align:center;margin-top: 50px;
}
.seeAll img {
    width: 200px;
}
.how_to_mp {
    padding: 70px 0;
}
.outer_setps {
    padding: 50px 0;
    position: relative;
}
.how_to_mp h2 {
    text-align: center;
}
.stp_box {
    position:relative;padding:40px;border-radius:25px;text-align:center;transition:.5s;min-height: 307px;
}
.stp_box:hover img {
    transform: rotate(360deg);
    transition: .5s;
}
.stp_box.stp_1 {
    background: #EDEFFA;
}
.stp_box.stp_2 {
    background: #FEF6EE;
}
.stp_box.stp_3 {
    background: #FBEDF6;
}
.iner_box {
    background:#fff;padding:40px;border-radius:25px;box-shadow:0 0 15px #e5e0e0;position:relative;z-index: 2;
}
.stp_box img {
    position: absolute; top:20px;left:25px;width:40px;z-index:3;
}
.outer_setps .row {
    margin-left:0;margin-right: 0;
}
.iner_box h3 {
    margin-top: 0;
}
.outer_setps:before {
    background: url(../images/pm_stp_line.svg) no-repeat;
    content: '';position:absolute;width:100%;height:100%;top:13px;left:10px;z-index:1;background-size:99% auto;background-position: 7px 0px;
}
.pm_video {
    text-align: center;margin-bottom: 120px;
}
.inner_video {
    position:relative;padding-top: 20px;
}
.inner_video img {
    width: 730px;
}
.inner_video:before {
    background: url(../images/pmv_1.svg) no-repeat;
    content: "";position:absolute;width:250px;height:260px;left:50px;top:-40px;background-size: 90%;
}
.inner_video:after {
    background: url(../images/pmv_2.svg) no-repeat;
    content:"";position:absolute;width:250px;height:260px;right:50px;bottom:-34px;background-size: 90%;
}
.pm_helper .row {
    margin: 0;
}
.pm_helper {
    background: rgb(241, 246, 233);
    background: linear-gradient(90deg, rgba(241, 246, 233, 1) 48%, rgba(248, 247, 229, 1) 48%, rgba(255, 247, 226, 1) 48%, rgba(255, 247, 226, 1) 57%, rgba(251, 238, 230, 1) 57%, rgba(246, 228, 235, 1) 57%, rgba(246, 228, 235, 1) 66%, rgba(232, 242, 254, 1) 66%, rgba(232, 242, 254, 1) 100%);
    padding: 40px 0;
}
.helper_box {
    background:#ffff;position:relative;padding:40px;border-radius:15px;box-shadow:0 0 10px #dfd9d9;transition:1s;min-height:202px;
}
.helper_box img {
    position:absolute;top:22px;right:20px;width:35px;
}
.helper_box h3 {
    font-size:22px;font-family:'NunitoSans-ExtraBold';margin-top:0;margin-bottom: 15px;
}
.helper_box p {
    margin-bottom: 0;
}
.helper_box:hover {
    background: #6805DF;
    color: #fff;
}
.mt30 {
    margin-top: 30px !important;
}
.pm_testimonials .container {
    text-align: center;
}
.carousel-controls .control {
    position:relative;width:100px;height:45px;border-radius:0;border:none;z-index:1;cursor:pointer;top:11px;left:42%;
}
.control img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 0 10px #efefef;
}
.carousel-controls .control.next {
    top: -35px;
    left: 49.5%;
}
.control .disabled {
    display: none;
}
.control.prev.slick-arrow.slick-disabled .active,
.control.next.slick-arrow.slick-disabled .active {
    display: none;
}
.control.prev.slick-arrow.slick-disabled .disabled,
.control.next.slick-arrow.slick-disabled .disabled {
    display: block;
}
.pm_testimonials {
    padding: 70px 20px 0;
}
.testimonial {
    background:#fff;padding:25px;margin-left:8px;margin-right:8px;border-radius:10px;box-shadow:0 0 10px #e7e7e7;min-height:315px;position:relative;
}
.tinfo {
    position: absolute;
    bottom: 37px;
}
.slick-slide img {
    display: inline-block;
}
.tcontent {
    padding: 30px 0;
}
span.tname {
    font-family: 'NunitoSans-ExtraBold';
    font-size: 13px;
}
.slick-track {
    padding-top: 20px;
    padding-bottom: 20px;
}
.testimonial:focus {
    outline: none;
}
.panel.panel-default {
    background: none;
    border: none !important;
    box-shadow: none !important;
}
.panel-default>.panel-heading {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
}
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
}
.faqs_section {
    background: #00183A;
    color: #fff;
    padding: 230px 0 30px 0;
}
.panel-heading a {
    color: #fff;
    font-family: 'NunitoSans-ExtraBold';
    font-size: 19px;
}
.pcat_list_dropdown {
    display: none;
}
select {
    display: block;
}
.pcat_list_dropdown select {
    background: none;
    padding: 10px;
    height: 45px;
}
.pcat_list_dropdown select option {
    background: none;
    color: #000;
}
.panel-body strong {
    display: block;
    margin-top: 10px;
}
.footer_widget .col-lg-1 {
    display: none;
}
a.memBtn {
    position: absolute;
    width: 170px;
    background: #FFD6E6;
    color: #000;
    padding: 10px 0;
    border-radius: 6px;
    bottom: 90px;
    left: 0;
    right: 0;
    margin-left: 51%;
    text-align: center;
    font-weight: bold;
}
.row.animation_2 a.memBtn {
    bottom: 115px;
}
.stckyBtn {
    position:fixed;bottom:0;text-align:center;width:100%;z-index:9;background:#000;
}
.stckyBtn a.memBtn {
    position: initial;display:inline-block;margin-left:10px;
}
.stckyBtn span {
    background:#000;display:inline-block;padding:15px 20px;border-top-left-radius:6px;border-top-right-radius:6px;font-weight:bold;color:#fff;
}
.stckyBtn a.memBtn:hover {
    text-decoration: none;
}
.top_header.navstiky {
    background:#FFD6E6;
    position: fixed;
    width: 100%;
    padding: 10px 30px 10px;
}
.carousel {
    position: relative;
    height: 620px;
}
.carousel .item>img {
    width: 100%;
    height: 1000px;
}
.carousel-control {
    width: 5%;
    background: none !important;
    opacity: 1;
}
.creat_poster {
    margin-top: 40px;
}
#accordion .glyphicon {
    width: 23px;
    text-align: center;
}
.start_section .dropdown button .globalicon {
    margin-right: 6px;
}
.start_section ul.dropdown-menu {
    padding:10px;min-width:550px;border-radius: 0;
}
.start_section ul.dropdown-menu>li {
    width:170px;display:inline-block;margin:0;padding: 0;
}
.start_section .dropdown-menu>li>a {
    font-weight:800;color:#000;padding:6px;margin:10px;margin-bottom:10px;margin-top:10px;border-bottom: 1px solid;
}
.start_section .dropdown-toggle.btn-primary:focus, .start_section .dropdown-toggle.btn-primary:hover, .start_section .open>.dropdown-toggle.btn-primary {
    background: #ffffff !important;
    border: 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    outline: none !important;
}
.countery-icons{
    width:20px;height:20px;background-repeat:no-repeat;background-size:contain;background-position:center;margin-right:5px;display:inline-block;margin-bottom:-7px;
}
.countery-icons.rk-en{background-image: url(../../webimages/flags/en_icon.svg)}
.countery-icons.rk-ru{background-image: url(../../webimages/flags/ru_icon.svg)}
.countery-icons.rk-ja{background-image: url(../../webimages/flags/ja_icon.svg)}
.countery-icons.rk-it{background-image: url(../../webimages/flags/it_icon.svg)}
.countery-icons.rk-fr{background-image: url(../../webimages/flags/fr_icon.svg)}
.countery-icons.rk-pt{background-image: url(../../webimages/flags/pt_icon.svg)}
.countery-icons.rk-es{background-image: url(../../webimages/flags/es_icon.svg)}
.countery-icons.rk-de{background-image: url(../../webimages/flags/de_icon.svg)}
.countery-icons.rk-zh{background-image: url(../../webimages/flags/zh_icon.svg)}
.countery-icons.rk-ar{background-image: url(../../webimages/flags/ar_icon.svg)}
.countery-icons.rk-id{background-image: url(../../webimages/flags/id_icon.svg)}
.countery-icons.rk-tr{background-image: url(../../webimages/flags/tr_icon.svg)}
.countery-icons.rk-ko{background-image: url(../../webimages/flags/ko_icon.svg)}
.countery-icons.rk-vi{background-image: url(../../webimages/flags/vi_icon.svg)}
.countery-icons.rk-nl{background-image: url(../../webimages/flags/nl_icon.svg)}
.countery-icons.rk-pl{background-image: url(../../webimages/flags/pl_icon.svg)}
.countery-icons.rk-no{background-image: url(../../webimages/flags/no_icon.svg)}
.countery-icons.rk-cs{background-image: url(../../webimages/flags/cs_icon.svg)}
.countery-icons.rk-sv{background-image: url(../../webimages/flags/sv_icon.svg)}
.countery-icons.rk-ro{background-image: url(../../webimages/flags/ro_icon.svg)}
.countery-icons.rk-da{background-image: url(../../webimages/flags/da_icon.svg)}
.countery-icons.rk-th{background-image: url(../../webimages/flags/th_icon.svg)}
.countery-icons.rk-hu{background-image: url(../../webimages/flags/hu_icon.svg)}
.countery-icons.rk-bn{background-image: url(../../webimages/flags/bn_icon.svg)}
.countery-icons.rk-el{background-image: url(../../webimages/flags/el_icon.svg)}
.pm_video h2, .pm_video p {
    padding: 0px 24%;
}
/******************** Mega menu start ********/
.memGen .megaHeading {height:100%;text-align:center;padding-top:100px;}
.inner_nav ul.navUL .megaBox.memGen a {color:#FF004F !important;}
.create_Link{
    width: 13%;
  }
.createPoster_btn{
    background: #FFA009;
    border: none;
    /* width: 13%; */
    padding: 10px;
    color: black;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.top_header {
    display:flex;flex-direction:row;align-items:center;z-index:10;position:sticky;width:100%;padding:10px 30px 0 30px;background:none;
}
.logo_section, .start_section {
    flex: 1;
}
.nav_section {
    flex: 2;
}
.inner_nav {
    text-align: center;
}
.start_section {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}
.start_section .dropdown {
    display: inline-block;
}
.inner_nav ul.navUL li a {
    font-family: 'NunitoSans-Regular';
    color: #000000;
}
.inner_nav ul.navUL li {
    float:left;margin:0 15px;padding-bottom: 20px;
}
.outer_d2 {
    position:absolute;background:#fff;box-shadow:0 0 7px #dddddd;width:450px;padding:20px 25px;top:38px;right:-110px;display:none;
}
.outer_d1 {
    position:absolute;background:#fff;width:95%;left:3%;text-align:left;box-shadow:0 0 7px #dddddd;min-height:290px;top:59px;padding:20px 20px 20px 20px;border-radius:10px;display:none;
}
.inner_nav ul.navUL li ul li {
    float: none;
    margin: 0px;
    padding-bottom: 0px !important;
}
.outer_d2 {
    position:absolute;background:#fff;box-shadow:0 0 7px #dddddd;width:450px;padding:20px 25px;top:38px;right:-110px;display:none;
}
.start_section .dropdown button {
    background:#fff!important;border:0;box-shadow:none;color:#000;text-transform:capitalize;font-family:'NunitoSans-Regular';height:38px;
}
.start_section .dropdown button .globalicon {
    margin-right:6px;height: 20px;
}
img.langDrop {
    margin-top: -3px;
}
.megalist ul li {
    float: none; padding:0;margin:0;
}
.megaHeading {
    padding:20px 18px; background:#F5F5F5;border-radius:10px;
}
.megaHeading img {
    margin-bottom: 10px;height:32px;
}
.megalist {
    margin:10px 0 8px 0; line-height:30px;
}
.megaBox {
    flex-grow: 1; flex-basis:0;
}
.megaMenu {
    display: flex; gap:13px;
}
.megaMenu a {
    font-size: 13px;
}
.megaVmore a {
    color: #FF004F !important;
}
.logo_section img {
    height: 45px;
}
.inner_nav ul li a.vlink1:hover{
    color: #FF004F;
}
a.startBtn {
    /* background: #FF004F; */
    background:#FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;background-size:contain;color:#fff;text-transform:uppercase;font-weight:bold;font-size:13px;display:inline-block;padding:10px 20px;border-radius:5px;margin-left:5px;
}
a.startBtn:hover{
    text-decoration: none;
}
.hover_dicon{
    display:none;
}
.inner_nav ul li a.vlink1:hover .defalt_dicon{
    display:none;
}
.inner_nav ul li a.vlink1:hover .hover_dicon{
    display: inline-block;
}
img.defalt_dicon, .hover_dicon{
    height:7px; margin-left:4px;
}
a.vlink1:hover, a.vlink2:hover{
    text-decoration: none;
}
.inner_nav ul li.drop1:hover .outer_d1{
    display: block;
}
.inner_nav ul.navUL{
    margin-bottom:-18px;
}
.outer_d2 div {
    float: left; width:50%;text-align:left;padding:15px 0;
}
.outer_d2 div img {
    height: 25px; margin-right:7px;margin-top:-3px;
}
.new_banner {
    padding-top: 110px;padding-bottom:180px;
}
.new_btext {
    width: 60%;margin:0 auto;text-align: center;
}
.new_btext h1 {
    text-align: center;font-family:'NunitoSans-ExtraBold';
}
.new_btext p {
    text-align: center;margin:24px 0;
}
.header_bg {
    background: url(../images/newposter_bg.png) no-repeat;
    background-position:top center;background-size: cover;
}
.new_banner .container{
    position: relative;
}
.new_banner .container:before{
    background: url(../images/banner_before_icon.png) no-repeat;
    background-size:70px auto;content:"";position:absolute;width:95px;height:95px;bottom:-40px;left:0;
} 
.new_banner .container:after{
    background: url(../images/banner_after_icon.png) no-repeat;
    background-size:50px auto;content:"";position:absolute;width:95px;height:95px;top:10px;right:0;
}
.byCate{
    padding:0px 60px;
}
.byCate .ocatsec {
    background:#fff;padding:16px;margin-top:-50px;border-top-left-radius:10px;border-top-right-radius: 10px;position: relative;
}
.byCate_heading {
    font-family: 'NunitoSans-ExtraBold';margin-bottom: 12px;
}
.nleft_sidebar {
    background:#FFD6E6;padding:20px;border-radius: 10px;min-height: 94%;
}
.byCate .outersidebar{
    padding-left: 0;
}
.nleft_sidebar a {
    color:#000;display:block;padding-left:15px;border-radius: 5px;
}
.nleft_sidebar li {
    line-height: 35px;
}
.nleft_sidebar .active a, .nleft_sidebar a:hover{
    background: #fff url(../images/bycat_arrow.png) no-repeat;
    background-position:90% center;background-size:15px auto;color:#FF004F;text-decoration:none;
}
.catItemList img{
    width: 100%;border-radius:10px;
}
.catItemList .col-lg-2 a{
    display: block;margin-bottom:15px;position:relative;
}
.loadMore{
    text-align: center;
}
.loadMore a {
    background: #FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;color:#fff;padding:10px 20px;text-transform:uppercase;font-size:14px;display:inline-block;width:35%;font-weight:bold;border-radius:5px;
}
.loadMore a:hover{
    text-decoration: none;
}
.catItemList .col-lg-2 a:last-child:after {
    content:"";position:absolute;height:80%;bottom:0;width:100%;z-index:1;left:0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 120%);
}
.customLogo {
    background: #F5F5F5; padding:30px 0;
}
.customLogo img {
    width: 100%;
}
.customLogo h3 {
    font-size: 18px; font-family:'NunitoSans-Bold';
}
.createnBtn{
    background:#FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;background-size:contain;color:#fff;text-transform:uppercase;font-weight:bold;font-size:13px;display:inline-block;padding:15px 25px;border-radius:5px;margin-top:4px;margin-left:5px;
}
.createnBtn:hover{
    color: #fff; text-decoration:none;
}
.faqContact a{
    background:#E81154;color:#fff;display:inline-block;padding:10px 25px;font-weight:600;
}
.faqContact{
    text-align: right;
}
.faqHeading h2 {
    margin-top: 0;
}
.row.faqHeading {
    margin-bottom:50px;
}
.mb_inner .d_d_2>a{
    background: url(../images/nav_drop_plus.png) no-repeat;
    background-position:97.5% center;
}
.mb_inner .d_d_2.activeDD>a{
    background: url(../images/nav_drop_minus.png) no-repeat;
    background-position:97.5% center;
}
.mb_inner .d_d_2 a>img {
    float: none !important;
    margin-top: 0px !important;
}
.new_btext h2 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0;
}
.banner_search {
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
.inner_search {
    position: relative;
    background: #fff;
    box-shadow: 0 0 15px #e0ded9;
    border-radius: 5px;
}
.inner_search input[type="text"] {
    width: 67%;
    margin: 0;
    border: none;
    background: none;
    padding: 8px 10px;
    font-size: 13px;
}
.inner_search input[type="text"]:focus{
    border: none !important;
    box-shadow: none !important;
}
.inner_search a.searchByCat {
    position: absolute;
    background: #FF004F url(../images/nd_btn_bg.png);
    color: #fff;
    border: none;
    padding: 8px 12px;
    top: 6px;
    right: 8px;
    font-family: 'NunitoSans-Bold';
    font-size: 13px;
    border-radius: 5px;
}
.search_dropdown {
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    background: #d9d7d1;
    padding: 10px;
}
.search_dropdown li {
    background:#F6F4EF;float:left;width:46%;font-size:13px;line-height:normal;padding:5px 8px;border-left:2px solid #DD1956;cursor:pointer;margin:5px;
}
body .start_section .dropdown button:focus, body .start_section .dropdown button:hover {
    /* background: #fff!important; */
    border: 0!important;
    box-shadow: none!important;
    color: #000!important;
    outline: none!important;
}
.catItemList img.nobr {
    border-radius: 0;
}
/******************************************************-------------** Mega menu end ********/
@media (min-width:1510px) {
    .catItemList .col-lg-2 {
        width: 20%;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (min-width:1050px) {
    .footer_widget .col-lg-2 {
        width: 20%;
    }
    .byCate .ocatsec {
        display: flex;
    }
}
@media (max-width:1335px){
    .createPoster_btn {
        font-size: 13px;
    }
}
@media(max-width:1199px){
    .createPoster_btn {
        font-size: 12px;
    }
}
@media(max-width:1085px){
    .createPoster_btn {
        font-size: 10px;
    }
}
@media (max-width:1025px) {
    .container {
        width: auto;
    }
    .mobile_menu {
        display: block;
    }
    .top_header {
        display: block;
        margin-bottom: 0;
        position: relative;
    }
    .nav_section{
        display: none;
    }
    button.nav_btn {
        position: absolute;
        right:10px;
        top: 20px;
    }
    .mobile_menu ul {
        /* background: #000;
        display: none; */
        margin-top: 10px;
    }
    .mobile_menu ul li>a{
        color: #000;
        display: block;
        padding: 10px 10px;
        background: #FFD6E6;
        margin-bottom: 10px;
        border-radius: 5px;
        border: none;
    }
    .mobile_menu ul li>a img {
        width: 14px;
    }
    .mobile_menu li a img {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
    }
    .mb_inner a:hover,
    .mb_inner a:focus {
        outline: none;
        text-decoration: none;
    }
    .outer_dd2,
    .mb_inner,
    .outer_dd22,
    .mb_inner,
    .outer_dd33,
    .mb_inner {
        display: none;
    }
    .inner_drop2 a {
        background: #DD1956;
        border-color: #bcbcbc !important;
    }
    .inner_drop2 {
        display: none;
    }
    .stckyBtn span {
        display:block;text-align:center;padding:10px 0;border-top-left-radius:0;border-top-right-radius:0;
    }
    a.memBtn {
        padding: 6px 0;
    }
    /* ***************New ******** */
    .mobile_menu .oul_sec {
        background:#fff;display:none;padding:10px;position:fixed;top:0;left:0;width:100%;height:100%;padding-top:60px;overflow-x:auto;z-index:1;
    }
    .closenav_btn {
        border:none;background:none;position:absolute;top:20px;right:20px;cursor:pointer;
    }
    .mobile_menu ul li a {
        color:#000;display:block;padding: 10px 10px;
    }
    .mobile_menu li .d_d_2 a img:first-child, .drop2 .inner_drop2 div a img{
        height:30px;margin-right: 10px;
    }
    .outer_dd2{
        padding-left:42px;
    }
    .mb_inner .d_d_2:nth-child(6)>a img:first-child, li.drop2 .inner_drop2 div:nth-child(6) a img {
        width:29px;height: auto !important;
    }
    .new_banner {
        padding-top:60px;padding-bottom: 110px;
    }
    .new_btext {
        width: 80%;
    }
    .banner_search {
        width: 100%;
    }
    .inner_search {
        position: relative;background:none;box-shadow:none;text-align:center;
    }
    .inner_search input[type="text"] {
        width: 100%;background:#fff;box-shadow:0 0 15px #e0ded9;box-sizing:border-box;font-size:14px;height:50px;border-radius:6px;
    }
    .inner_search a.searchByCat {
        position: initial;margin-top:13px;display:inline-block;
    }
    .endsec{
        display:none;
    }
    .closenav_btn:focus{
        outline: none;
        background:transparent !important;
    }
}
@media (max-width:990px){
    .createPoster_btn{
        font-size: 9px;
    }
}
@media (max-width:880px){
    .createPoster_btn{
        font-size: 10px;
    }
}
@media (max-width:769px){
    .createPoster_btn{
        padding: 6px;
    }
}
@media (max-width:767px) {
    .header_bg{
        background: url(../images/newposter_bg.png) no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .new_banner .container:before {
        background-size:60px auto;bottom:-80px;left:30px;
    }
    .new_banner .container:after {
        background-size:40px auto;background-position:top right;top:-10px;right:0;
    }
    .footer_section {
        text-align: center;
    }
    .footer_section h3 {
        margin: 30px 0;
    }
    .fsocial {
        margin-bottom: 30px;
    }
    .cover_img img {
        width: 90%;
    }
    .outer_bbg {
        padding: 0;
        margin-top: 60px;
        margin-bottom: 10px;
        text-align: center;
    }
    .cover_img {
        position: relative;
        top: auto;
        left: 0;
        text-align: center;
        margin-bottom: -220px;
    }
    .row.blue_bg {
        padding-top: 250px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .pt_list ul li img {
        width: 100%;
    }
    .pt_list ul li {
        width: 49%;
    }
    .outer_setps:before,
    .inner_video:before,
    .inner_video:after {
        display: none;
    }
    .how_to_mp {
        padding: 30px 0;
    }
    .p_templates {
        padding: 30px 0;
    }
    .outer_setps .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .stp_box {
        margin-bottom: 30px;
    }
    .outer_setps {
        padding: 15px 0 0;
    }
    .pm_video h2 {
        margin-top: 0;
    }
    .inner_video img {
        width: 100%;
    }
    .pm_video {
        margin-bottom: 0;
    }
    .helper_text,
    .faqs_section .col-lg-3 {
        text-align: center;
    }
    .pm_helper .row {
        margin: 0 -15px;
    }
    .helper_box {
        margin-bottom: 30px;
    }
    .pm_helper .row.mt30 {
        margin-top: 0 !important;
    }
    .pm_helper {
        padding-bottom: 10px;
    }
    .pm_testimonials {
        padding: 20px 20px 0;
    }
    .carousel-controls .control {
        left: 15%;
    }
    .faqs_section {
        padding-top: 180px;
        padding-bottom: 0;
    }
    i.more-less {
        margin-right: 4px;
        margin-left: -35px;
    }
    .panel-heading a {
        font-size: 17px;
        padding-left: 35px;
        display: block;
    }
    .panel-default>.panel-heading {
        padding-left: 0;
        padding-right: 0;
    }
    .faqs_section br {
        display: none;
    }
        .carousel {
        height: 650px;
    }
        .top_header {
        background: none;
    }
        .byCate {
        padding: 0px 30px;
    }
    .byCate .ocatsec {
        padding: 15px;
    }
    .byCate .outersidebar {
        padding-left: 0;
        padding-right: 0;
    }
    .nleft_sidebar {
        background:#fff;padding:0;border-radius: 0;
    }
    .byCate_heading {
        text-align:center;font-size: 16px;
    }
    .mobcdrop {
        padding:10px;background:#FFD6E6;border-radius: 6px;
    }
    .mobcdrop img {
        width:14px;float:right;margin-top:6px;
    }
    .nleft_sidebar ul {
        background:#FFD6E6;padding:10px;margin-top:2px;border-radius:6px;display: none;
    }
    .catItemList {
        margin-top: 15px;
    }
    .catItemList .col-lg-2.col-md-2.col-xs-6 {
        padding-left:6px;padding-right:6px;padding-top: 0 !important;
    }
    .start_section .dropdown {
        position:absolute;top:18px;right: 55px;
    }
    .start_section .dropdown button {
        font-size:0;padding:0;background:none!important;height: 25px;
    }
    .start_section .dropdown button .globalicon {
        margin-right: 0;
    }
    .start_section .dropdown button img.langDrop {
        display: none;
    }
    .start_section a.startBtn {
        display: none;
    }
    body .start_section .dropdown-toggle.btn-primary:focus{
        background: none !important;
    }
}
@media (max-width:640px) {
    .pcat_list a {
        width:45%;text-align:center;margin-left:5px;margin-right: 5px;
    }
    .pcat_list {
        padding-right: 0;
    }
    .pcat_list a span {
        display: none;
    }
    .footer_widget .col-lg-2:nth-child(2),
    .footer_widget .col-lg-2:nth-child(3) {
        min-height: 250px;
    }
}
@media (max-width:426px){
    .start_section ul.dropdown-menu {
        padding: 5px;
        min-width: 300px;
    }
    .start_section ul.dropdown-menu li {
        width: 115px;
    }
}
@media (max-width:325px){
    .start_section .dropdown-menu-right{
        right: -54px;
    }
}
