@font-face {
    font-family: 'NunitoSans-Black';
    src: url('../fonts/NunitoSans-Black.woff2') format('woff2'),
        url('../fonts/NunitoSans-Black.woff') format('woff');
    font-weight:900;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../fonts/NunitoSans-Bold.woff') format('woff');
    font-weight:bold;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-ExtraBold';
    src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight:800;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NunitoSans-SemiBold';
    src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight:600;font-style:normal;font-display:swap;
}
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans-Regular.woff') format('woff');
    font-weight:normal;font-style:normal;font-display:swap;
}
html {
    scroll-behavior: smooth;
}
*,
body {
    padding:0;margin:0;font-family:'NunitoSans-Regular';font-size:14px;
}
img {
    max-width: 100%;
}
.container {
    width: 1170px;margin: 0 auto;
}
ul,
ol {
    margin:0;padding: 0px;
}
h6 {
    font-family: 'NunitoSans-Bold';
    font-size: 18px;
}
.header_bg {
    position: relative;
    background: rgb(255, 201, 243);
    background: linear-gradient(120deg, rgba(255, 201, 243, 1) 0%, rgba(255, 201, 243, 1) 13%, rgba(202, 201, 255, 1) 53%);
}
.top_header {
    display:flex;flex-direction:row;padding:20px 30px;align-items:center;margin-bottom:40px;position:relative;z-index:10;
}
.nav_section {
    flex: 2;
}
.inner_nav {
    text-align: right;
}
.inner_nav ul.navUL {
    list-style:none;padding:0;margin:0;display:inline-block;
}
.inner_nav ul.navUL li {
    float:left;margin:0 15px;padding-bottom:20px;
}
.inner_nav ul.navUL li a {
    color: #000000;
}
li.cresume a {
    color:#fff!important;padding:12px 20px;background:#DD1956;
}
.carousel-control {
    width:8%;width:0;
}
.carousel-control.left,
.carousel-control.right {
    margin-right:40px;margin-left:32px;background-image:none;opacity:1;
}
.carousel-control>a>span {
    width:55px!important;color:white;
}

/******************** Mega menu start ********/
.memGen .megaHeading {height:100%;text-align:center;padding-top:100px;}
.inner_nav ul.navUL .megaBox.memGen a {color:#FF004F !important;}
.top_header {
    display:flex;flex-direction:row;align-items:center;z-index:10;position:fixed;width:100%;padding:10px 30px 0 30px;background:none;top:0;
}
.logo_section, .start_section {
    flex: 1;
}
.nav_section {
    flex: 2;
}
.inner_nav {
    text-align: center;
}
.start_section {
    text-align: right;
}
.start_section .dropdown {
    display: inline-block;
}
.inner_nav ul.navUL li a {
    font-family: 'NunitoSans-Regular';
    color: #000000;
}
.inner_nav ul.navUL li {
    float:left;margin:0 15px;padding-bottom: 20px;
}
.outer_d2 {
    position:absolute;background:#fff;box-shadow:0 0 7px #dddddd;width:450px;padding:20px 25px;top:38px;right:-110px;display:none;
}
.outer_d1 {
    position:absolute;background:#fff;width:95%;left:3%;text-align:left;box-shadow:0 0 7px #dddddd;min-height:290px;top:59px;padding:20px 20px 20px 20px;border-radius:10px;display:none;
}
.inner_nav ul.navUL li ul li {
    float: none;
    margin: 0px;
    padding-bottom: 0px !important;
}
.start_section .dropdown button {
    background:#fff!important;border:0;box-shadow:none;color:#000;text-transform:capitalize;font-family:'NunitoSans-Regular';height:38px;
}
.start_section .dropdown button .globalicon {
    margin-right:6px;height: 20px;
}
img.langDrop {
    margin-top: -3px;
}
.megalist ul li {
    float: none; padding:0;margin:0;
}
.megaHeading {
    padding:20px 18px; background:#F5F5F5;border-radius:10px;
}
.megaHeading img {
    margin-bottom: 10px;height:32px;
}
.megalist {
    margin:10px 0 8px 0; line-height:30px;
}
.megaBox {
    flex-grow: 1; flex-basis:0;
}
.megaMenu {
    display: flex; gap:13px;
}
.megaMenu a {
    font-size: 13px;
}
.megaVmore a {
    color: #FF004F !important;
}
.logo_section img {
    height: 45px;
}
.inner_nav ul li a.vlink1:hover{
    color: #FF004F;
}
a.startBtn {
    /* background: #FF004F; */
    background:#FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;background-size:contain;color:#fff;text-transform:uppercase;font-weight:bold;font-size:13px;display:inline-block;padding:10px 20px;border-radius:5px;margin-left:5px;
}
a.startBtn:hover{
    text-decoration: none;
}
.hover_dicon{
    display:none;
}
.inner_nav ul li a.vlink1:hover .defalt_dicon{
    display:none;
}
.inner_nav ul li a.vlink1:hover .hover_dicon{
    display: inline-block;
}
img.defalt_dicon, .hover_dicon{
    height:7px; margin-left:4px;
}
a.vlink1:hover, a.vlink2:hover{
    text-decoration: none;
}
.inner_nav ul li.drop1:hover .outer_d1{
    display: block;
}
.inner_nav ul.navUL{
    margin-bottom:-18px;
}
.outer_d2 div {
    float: left; width:50%;text-align:left;padding:15px 0;
}
.outer_d2 div img {
    height: 25px; margin-right:7px;margin-top:-3px;
}
.new_banner {
    padding-top: 110px;padding-bottom:180px;
}
.new_btext {
    width: 60%;margin:0 auto;text-align: center;
}
.new_btext h1 {
    text-align: center;font-family:'NunitoSans-ExtraBold';
}
.new_btext p {
    text-align: center;margin:24px 0;
}
.header_bg {
    background: url(../images/newresume_bg.png) no-repeat;
    background-position:top center;background-size: cover;
}
.new_banner .container{
    position: relative;
}
.new_banner .container:before{
    background: url(../images/banner_before_icon.png) no-repeat;
    background-size:70px auto;content:"";position:absolute;width:95px;height:95px;bottom:-40px;left:0;
} 
.new_banner .container:after{
    background: url(../images/banner_after_icon.png) no-repeat;
    background-size:50px auto;content:"";position:absolute;width:95px;height:95px;top:10px;right:0;
}
.byCate{
    padding:0px 60px;
}
.byCate .ocatsec {
    background:#fff;padding:16px;margin-top:-50px;border-top-left-radius:10px;border-top-right-radius: 10px;position: relative;
}
.byCate_heading {
    font-family: 'NunitoSans-ExtraBold';margin-bottom: 12px;
}
.nleft_sidebar {
    background:#E3F1F2;padding:20px;border-radius: 10px;min-height: 94%;
}
.byCate .outersidebar{
    padding-left: 0;
}
.nleft_sidebar a {
    color:#000;display:block;padding-left:15px;border-radius: 5px;
}
.nleft_sidebar li {
    line-height: 35px;
}
.nleft_sidebar .active a, .nleft_sidebar a:hover{
    background: #fff url(../images/bycat_arrow.png) no-repeat;
    background-position:90% center;background-size:15px auto;color:#FF004F;text-decoration:none;
}
.catItemList img{
    width: 100%;border-radius:10px;
}
.catItemList .col-lg-2 a{
    display: block;margin-bottom:15px;position:relative;
}
.loadMore{
    text-align: center;
}
.loadMore a {
    background: #FF004F url(../images/nd_btn_bg.png);
    background-repeat:repeat;color:#fff;padding:10px 20px;text-transform:uppercase;font-size:14px;display:inline-block;width:35%;font-weight:bold;border-radius:5px;
}
.loadMore a:hover{
    text-decoration: none;
}
.catItemList .col-lg-2 a:last-child:after {
    content:"";position:absolute;height:80%;bottom:0;width:100%;z-index:1;left:0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 120%);
}
.mb_inner .d_d_2>a{
    background: url(../images/nav_drop_plus.png) no-repeat;
    background-position:97.5% center;
}
.mb_inner .d_d_2.activeDD>a{
    background: url(../images/nav_drop_minus.png) no-repeat;
    background-position:97.5% center;
}
.mb_inner .d_d_2 a>img {
    float: none !important;
    margin-top: 0px !important;
}
.new_btext h2 {
    font-size:22px;margin-top:10px;margin-bottom:0;
}
.banner_search {
    position: relative; width:70%;margin:0 auto;text-align:left;
}
.inner_search {
    position: relative; background:#fff;box-shadow:0 0 15px #e0ded9;border-radius:5px;
}
.inner_search input[type="text"] {
    width:67%;margin:0;border:none;background:none;padding:8px 10px;font-size:13px;
}
.inner_search input[type="text"]:focus{
    border: none !important;
    box-shadow: none !important;
}
.inner_search a.searchByCat {
    background: #FF004F url(../images/nd_btn_bg.png);
    position: absolute;color:#fff;border:none;padding:8px 12px;top:6px;right:8px;font-family:'NunitoSans-Bold';font-size:13px;border-radius: 5px;
}
.search_dropdown {
    position:absolute;top:47px;left:0;width:100%;background:#d9d7d1;padding:10px;
}
.search_dropdown li {
    background:#F6F4EF;float:left;width:46%;font-size:13px;line-height:normal;padding:5px 8px;border-left:2px solid #DD1956;cursor:pointer;margin:5px;
}
body .start_section .dropdown button:focus, body .start_section .dropdown button:hover {
    /* background: #fff!important; */
    border: 0!important;
    box-shadow: none!important;
    color: #000!important;
    outline: none!important;
}
.start_section ul.dropdown-menu {
    padding:30px;min-width:525px;border-radius:0;box-shadow:0 6px 12px rgb(0 0 0 / 15%);
}
.start_section ul.dropdown-menu li {
    margin: 2px 10px; padding:0;float:none;display:inline-block;width:125px;
}
.start_section .dropdown-menu>li>a {
    font-weight:800;color:#000;padding:3px 0;margin-bottom:5px;margin-top:5px;border-bottom:1px solid #ddd;
}
.start_section .open>.dropdown-toggle.btn-primary{
    color: #000;
}
.catItemList img.nobr {
    border-radius: 0;
}
/******************************************************-------------** Mega menu end ********/

@media (min-width:1510px) {
    .catItemList .col-lg-2 {
        width:20%;padding-left:8px;padding-right:8px;
    }
}
@media (max-width: 767px){
    .innerVideo {
        width: 100% !important;
    }
}
#carousel {
    height: 100%;
}
.carousel-control.resum {
    position:absolute;top:50%;z-index:5;display:inline-block;margin-top:-10px;left:50%;margin-left:-10px;
}
/* ***********************resume carousel styling end******************************* */
.build_resume {
    text-align:center;margin:15px 0 50px;
}
.build_resume>.container {
    padding: 3em;
}
.build_resume h2 {
    font-size:40px;margin-top: 0;
}
.poster_maker {
    padding:3em;text-align: center;
}
.innerVideo {
    display: grid;
    /* align-content: center; */
    background: url(../images/video_background.svg);
    margin:auto;width:1080px;height:640px;padding:2em;background-size:cover!important;background-repeat:no-repeat;
}
.innerVideo iframe {
    width:90%;height:510px;margin-top:22px;margin-left:10px;
}
.poster_maker h2 {
    font-size: 40px;
    margin: 1em;
}
.poster_maker p {
    padding:2em 0;font-weight: bold;
}
.rb_step_1 {
    background:#EEEEEE;height:540px;margin-bottom: 160px;
}
.resume_steps .col-lg-7 img {
    width:100%;margin-top: -40px;
}
.rb_step_1 .inner_rb_text,
.rb_step_3 .inner_rb_text {
    margin-left:0;padding-right:15%;margin-top: 120px;
}
.inner_rb_text h3 {
    margin-bottom:30px;font-size:30px;font-family: 'NunitoSans-ExtraBold';
}
.rb_step_2 .row {
    display:flex;align-items: center;
}
.rb_step_3 {
    background:#EEEEEE;height:540px;margin-top: 30px;
}
.outer_rb_steps {
    position: relative;
}
.outer_rb_steps:before {
    background: url(../images/resume/stp_line.svg) no-repeat;
    background-size:39%;background-position:37% 465px;position:absolute;content:"";width:100%;height: 100%;
}
h2 {
    font-size: 30px;
    font-family: 'NunitoSans-ExtraBold';
}
.faqs_section {
    margin: 50px 0;
}
.faq_list h3 {
    font-size:19px;font-family: 'NunitoSans-Bold';
}
.faq_list {
    margin-bottom: 30px;
}
.footer_section {
    background:#000;padding: 50px 0 0 0;
}
.footer_section .col-lg-1 img {
    width: 70px;
}
.footer_section h3 {
    font-family:'NunitoSans-Bold';font-size:25px;color:#fff;line-height:normal;margin:0 0 0 30px;
}
.social_icon a img {
    width: 60px; margin:0 3px;transition:.5s;
}
.footer_section .row:first-child {
    border-bottom: 1px solid #707070; padding-bottom:30px;margin-bottom:40px;
}
.footer_widget h4 {
    font-size: 18px; color:#fff;font-family:'NunitoSans-Bold';margin-bottom:20px;margin-top:0;
}
.footer_widget ul a {
    color: #B5B5BB; margin-bottom:14px;display:inline-block;
}
.footer_form {
    border-bottom:1px solid #707070;position:relative;margin-top:30px;margin-bottom: 20px;
}
.footer_form input[type="text"] {
    border: none; background:none;color:#fff;width:90%;
}
.footer_form input[type="text"]:focus {
    outline: none; box-shadow:none!important;border:none!important;
}
.footer_form button {
    position: absolute; right:0;background:none;border:none;
}
.footer_form button img {
    width: 22px;
}
.footer_form ::placeholder {
    color: #B5B5BB; opacity:1;
}
.footer_form :-ms-input-placeholder {
    color: #B5B5BB;
}
.footer_form ::-ms-input-placeholder {
    color: #B5B5BB;
}
.footer_email img {
    width:20px;margin-right: 6px;
}
.footer_email a {
    color: #B5B5BB;
}
.footer_address span {
    font-family: 'NunitoSans-SemiBold';
    color: #B5B5BB;
}
.footer_address h4 {
    margin-bottom:5px;margin-top:25px;
}
.fsocial img {
    width:40px;margin-right:5px;
}
.fsocial {
    margin-top: 10px;
}
.copywrite {
    text-align: center; color:#fff;font-size:13px;padding:30px 0;
}
.copywrite a {
    color: #fff;
}
/* ******************Mobile Nav******************** */
.mobile_menu {
    display: none;
}
button.nav_btn {
    border: none; background:none;width:40px;
}
button.nav_btn span {
    display: block; height:4px;width:100%;background:#000;margin-bottom:7px;
}
.faqs_section .panel-title a {
    background: url(../images/dd_icon.png) no-repeat right center;
    display:block;font-size:14px;font-family:'NunitoSans-Bold';padding-left:5px;padding-right:20px;
}
.faqs_section .panel-default>.panel-heading {
    color: #000 !important;
    background-color: transparent;
    border: none !important;
}
.faqs_section .panel-group .panel {
    border: none;
}
.panel-body {
    border: none !important;
}
.hlp_box {
    border:1px solid #F1F1F1;box-shadow:0 0 10px #e5e1e1;padding:30px;margin-bottom:30px;min-height:330px;
}
.hlp_box h3 {
    font-size: 18px;margin-top: 0;font-weight:bold;
}
.hlp_box img {
    width:70px; margin-bottom:20px;
}
.temp_exmple {
    margin-bottom:3em;padding-right:4%;padding-left:4%;
}
.guideBox .row{
    align-items:center;justify-content:center;margin-bottom:0;padding-left:5%;padding-right: 5%;
}
.guideBox .row p {margin-bottom: 0;}
.hlp_box.guideBox {
    margin-bottom:10px; padding:45px 30px;min-height:auto;
}
.hlp_box.guideBox img {margin-bottom: 0;}
.mt50 {margin-top: 50px;}
.mt120 {margin-top: 120px;}
.hlp_section {padding: 100px 0 0px;}
.rb_testimonials {
    background: #F6FEFF;
    overflow:visible;position:relative;max-height:300px;padding-top:20px;
}
.rb_testimonial {
    background: linear-gradient(to right, #E3F1F2 45%, #F6FEFF 30% 70%);
    min-height: 103px;
}
.carousel-controls .control {
    position:absolute;transform:translateY(-50%);width:45px;height:45px;border-radius:0;border:none;z-index:1;cursor:pointer;top:55px;
}
.carousel-controls .control img {width:95%;}
.prev{left:25px;}
.next{left:85px;}
.rb_testimonials .container{position:relative;}
.rb_testimonials h2,
.rb_testimonials p {
    margin-left: 150px;
    color: #000;
}
.timg img {
    display:inline-block;width:56px;border-radius: 7px;
}
span.timg,
span.tinfo {
    float: left;
}
.tinfo span {display:block;}
span.tname {
    font-family:'NunitoSans-ExtraBold';margin-top: 18px;
}
span.timg {margin-right: 8px;}
.tdate {
    margin-top: 34px;font-size:13px;color:#AAAAAA;
}
.testimonial {
    background: #fff; padding:20px;margin-left:10px;margin-right:10px;min-height:206px;
}
.tcontent {
    background: #E3F1F2; padding:20px;border-radius:0 20px 20px 20px;
}
.rb_testimonials .slick-list{padding-top:30px;}
.inner_item {margin-top:-44px;}
.rb_testimonials .carousel-controls{
    margin-top: 40px;
}
.testimonial.slick-slide.slick-active,
.testimonial:focus {
    outline: none;
}
/* **********************************************Dropdown styling**************** */
.drop1:hover .outer_d1 {
    display: flex;
}
li.drop2 {
    position: relative;
}
li.drop2:hover .outer_d2 {
    display: block;
}
.outer_d2 a {
    font-weight: normal !important;
    font-family: 'NunitoSans-Regular' !important;
    display: inline-block;
}
.outer_d2 div {
    border-bottom: 1px solid #F0F0F0;
}
.outer_d2 div:last-child {
    border: none;
}
.footer_widget .col-lg-1 {
    display: none;
}
a.memBtn {
    position:absolute;width:170px;background:#E3F1F2;color:#000;padding:10px 0;border-radius:6px;bottom:90px;left:0;right:0;margin-left:51%;text-align:center;font-weight:bold;
}
.row.animation_2 a.memBtn {
    bottom: 115px;
}
.stckyBtn {
    position:fixed;bottom:0;text-align:center;width:100%;z-index: 9;background: #000;
}
.stckyBtn a.memBtn {
    position:initial;display:inline-block;margin-left: 10px;
}
.stckyBtn span {
    background:#000;display:inline-block;padding:15px 20px;border-top-left-radius:6px;border-top-right-radius:6px;font-weight:bold;color:#fff;
}
.stckyBtn a.memBtn:hover {
    text-decoration: none;
}
.top_header.navstiky {
    background:#E3F1F2;position:fixed;width:100%;padding: 10px 30px 10px;
}
.langudrop .dropdown button {
    background:none;border:0;box-shadow:none;color:#000;text-transform:capitalize;font-family:'NunitoSans-ExtraBold';font-weight:800;padding-top:0;margin-right:20px;margin-top:-4px;
}
.langudrop .dropdown-toggle.btn-primary:focus,
.langudrop .dropdown-toggle.btn-primary:hover,
.langudrop .open>.dropdown-toggle.btn-primary {
    background:none!important;border:0!important;box-shadow:none!important;color:#000!important;outline:none!important;
}
.langudrop .dropdown button .globalicon {
    margin-right: 6px;
}
.langudrop ul.dropdown-menu {
    padding: 32px;min-width:525px;
}
.langudrop .dropdown-menu>li>a {
    font-weight:800;color:#000;padding:3px 0;margin-bottom:5px;margin-top:5px;border-bottom:1px solid #ddd;
}
.langudrop .dropdown-menu li a img {
    margin-right:10px;width:20px;
}
.inner_nav ul.navUL li.langudrop .dropdown-menu>li {
    margin:2px 10px;padding:0;float:none;display:inline-block;min-width:125px;
}
.clang_vi .outer_d1 {
    right: 10%;
}
ul.easyStps li {
    display: inline-block;
    margin: 0px 2px;
}
.build_resume p {
    padding:2em 0;margin-bottom: 3px;
}
.language_section {
    background:#fafafa;display:grid;align-content:center;padding: 5em 0px;
}
.language_section .col-sm-4 {
    text-align:center;display:grid;align-content:center;height:100%;
}
.language_section span {
    color:white;background:#dd1956;width:150px;margin:auto;font-weight:bold;padding:8px 10px;
}
.language_section p {
    font-size: 18px; font-weight:bold;
}
.language_section h3 {
    font-size: 40px; font-weight:bold;margin-bottom:0;
}
.langDiv {
    display:inline-flex;width:140px;height:40px;align-items:center;padding:10px;background:white;border:1px solid #ddd;margin:6px 1px;
}
.availableLanguages a {
    text-decoration:none;color:#000;font-weight:bold;font-size:15px;
}
.langDiv img {
    width: 30px; margin-right:10px;
}
.countery-icons{
    width:20px;height:20px;background-repeat:no-repeat;background-size:contain;background-position:center;margin-right:10px;display:inline-block;margin-bottom:-7px;
}
.countery-icons.rk-en{background-image: url(../../webimages/flags/en_icon.svg)}
.countery-icons.rk-ru{background-image: url(../../webimages/flags/ru_icon.svg)}
.countery-icons.rk-ja{background-image: url(../../webimages/flags/ja_icon.svg)}
.countery-icons.rk-it{background-image: url(../../webimages/flags/it_icon.svg)}
.countery-icons.rk-fr{background-image: url(../../webimages/flags/fr_icon.svg)}
.countery-icons.rk-pt{background-image: url(../../webimages/flags/pt_icon.svg)}
.countery-icons.rk-es{background-image: url(../../webimages/flags/es_icon.svg)}
.countery-icons.rk-de{background-image: url(../../webimages/flags/de_icon.svg)}
.countery-icons.rk-zh{background-image: url(../../webimages/flags/zh_icon.svg)}
.countery-icons.rk-ar{background-image: url(../../webimages/flags/ar_icon.svg)}
.countery-icons.rk-id{background-image: url(../../webimages/flags/id_icon.svg)}
.countery-icons.rk-tr{background-image: url(../../webimages/flags/tr_icon.svg)}
.countery-icons.rk-ko{background-image: url(../../webimages/flags/ko_icon.svg)}
.countery-icons.rk-vi{background-image: url(../../webimages/flags/vi_icon.svg)}
.countery-icons.rk-nl{background-image: url(../../webimages/flags/nl_icon.svg)}
.countery-icons.rk-pl{background-image: url(../../webimages/flags/pl_icon.svg)}
.countery-icons.rk-no{background-image: url(../../webimages/flags/no_icon.svg)}
.countery-icons.rk-cs{background-image: url(../../webimages/flags/cs_icon.svg)}
.countery-icons.rk-sv{background-image: url(../../webimages/flags/sv_icon.svg)}
.countery-icons.rk-ro{background-image: url(../../webimages/flags/ro_icon.svg)}
.countery-icons.rk-da{background-image: url(../../webimages/flags/da_icon.svg)}
.countery-icons.rk-th{background-image: url(../../webimages/flags/th_icon.svg)}
.countery-icons.rk-hu{background-image: url(../../webimages/flags/hu_icon.svg)}
.countery-icons.rk-bn{background-image: url(../../webimages/flags/bn_icon.svg)}
.countery-icons.rk-el{background-image: url(../../webimages/flags/el_icon.svg)}
.countery-icons.rk-ms{background-image: url(../../webimages/flags/ms_icon.svg)}
.countery-icons.rk-fi{background-image: url(../../webimages/flags/fi_icon.svg)}
.innergBox h3{
    margin-top:0;font-size:20px;font-weight:bold;
}
.innergBox {
    background:#F2FAFB;padding: 40px;
}
.innergBox .row {margin-bottom: 0;}
.get_section h2 {
    text-align:center;margin-bottom:40px;margin-top: 50px;
}
.setup_sec .row{
    margin-bottom:0;align-items:center;justify-content: center;
}
.resume_steps.setup_sec{margin:70px 0;}
.innerDream{
    width:70%; text-align:center;margin:0 auto;
}
.dream_section .container{
    border-top:1px solid #E9E9E9;border-bottom:1px solid #E9E9E9;padding-top:30px;padding-bottom:30px;margin-bottom: 60px;
}
.faqs_section .panel-group .panel {
    box-shadow: 0 0 10px #efefef; margin-bottom:20px;
}
.faqs_section .panel-default>.panel-heading {
    color:#000!important;background-color:transparent;border:none!important;padding:16px 15px;
}
.faqs_section .panel-title a {
    display: block;font-size:16px;padding-right:2em;line-height:22px;
}
.faqs_section .panel-title a[aria-expanded="false"] {
    background: url(../images/minus.svg) no-repeat right center;
    background-size: 20px;
}
.faqs_section .panel-title a[aria-expanded="true"] {
    background: url(../images/plus.svg) no-repeat right center;
    background-size: 20px;
}
.faqs_section .panel-title a:hover {text-decoration: none;}
.panel-body{border: none !important;}
.faqHeading p{width:60%;margin-bottom:50px;}

@media (min-width:1050px) {
    .footer_widget .col-lg-2 {
        width: 20%;
    }
}
@media(max-width:1024px) {
    .container{width:auto;}
    .top_header {
        display:block;margin-bottom:0;position: relative;
    }
    .mobile_menu{display:block;}
    .nav_section{display:none;}
    button.nav_btn {
        position: absolute; right:10px;top:20px;
    }
    .outer_rb_steps:before {display:none;}
    .rb_step_1 {
        height: auto; margin-bottom:100px;
    }
    .hlp_box {width:auto;}
    .rb_testimonials {min-height: 400px;}
    .mobile_menu li a img {
        float: right;margin-top:5px;margin-right:5px;
    }
    .mb_inner a:hover,
    .mb_inner a:focus {
        outline: none;
        text-decoration: none;
    }
    .outer_dd2,
    .mb_inner,
    .outer_dd22,
    .mb_inner,
    .outer_dd33,
    .mb_inner {
        display: none;
    }
    .inner_drop2 a {
        background: #DD1956;
        border-color: #bcbcbc !important;
    }
    .inner_drop2 {display:none;}
    li.cresume a {background:none;}
    .stckyBtn span {
        display: block;text-align:center;padding:10px 0;border-top-left-radius:0;border-top-right-radius: 0px;
    }
    a.memBtn {padding:6px 0;}
    .innerVideo {
        width: 100%; height:550px;
    }
    .innerVideo iframe {
        height:435px;margin-top: 15px;
    }
    /* ***************New ******** */
    .mobile_menu .oul_sec {
        background:#fff;display:none;padding:10px;position:fixed;top:0;left:0;width:100%;height:100%;padding-top:60px;overflow-x:auto;z-index:1;
    }
    .closenav_btn {
        border:none;background:none;position:absolute;top:20px;right:20px;cursor:pointer;
    }
    .mobile_menu ul li a {
        color:#000;display:block;padding: 10px 10px;
    }
    .mobile_menu li .d_d_2 a img:first-child, .drop2 .inner_drop2 div a img{
        height:30px;margin-right: 10px;
    }
    .outer_dd2{
        padding-left:42px;
    }
    .mb_inner .d_d_2:nth-child(6)>a img:first-child, li.drop2 .inner_drop2 div:nth-child(6) a img {
        width:29px;height: auto !important;
    }
    .new_banner {
        padding-top:60px;padding-bottom: 110px;
    }
    .new_btext {
        width: 80%;
    }
    .new_banner .container:after {
        background-size:40px auto;background-position:top right;top:-10px;right:0;
    }
    .new_banner .container:before {
        background-size:60px auto;bottom:-80px;left:30px;
    }
    .banner_search {
        width: 100%;
    }
    .inner_search {
        position: relative;background:none;box-shadow:none;text-align:center;
    }
    .inner_search input[type="text"] {
        width: 100%;background:#fff;box-shadow:0 0 15px #e0ded9;box-sizing:border-box;font-size:14px;height:50px;border-radius:6px;
    }
    .inner_search a.searchByCat {
        position: initial;margin-top:13px;display:inline-block;
    }
    .endsec{display:none;}
    .start_section a.startBtn {display: none;}
    .start_section .dropdown {
        position: absolute; top:12px;right:55px;
    }
    .start_section .dropdown button {
        font-size:0;padding:0;background: none !important;
    }
    .start_section .dropdown button .globalicon {
        margin-right: 0;
    }
    .start_section .dropdown button img.langDrop {
        display: none;
    }
    .mobile_menu ul li>a{
        border:none;color:#E41455;background:rgb(229 229 229);margin-bottom:10px;border-radius: 5px;
    }
    .mobile_menu li.md_drop1 a img:last-child, li.drop2>a:first-child img {
        float: right;
        margin-top: 5px;
        /* margin-right: 5px; */
    }
    .mobile_menu ul li>a img {width:14px;}
    .mobile_menu ul {margin-top:10px;}
    .closenav_btn:focus{
        outline:none;background:transparent !important;
    }
    .byCate {padding:0px 30px;}
    .byCate .ocatsec {padding: 15px;}
    .byCate .outersidebar {
        padding-left: 0;
        padding-right: 0;
    }
    .catItemList {margin-top:15px;}
    .nleft_sidebar {
        background: #fff; padding:0;border-radius:0;
    }
    .byCate_heading {
        text-align: center; font-size:16px;
    }
    .mobcdrop {
        padding: 10px; background:#E3F1F2;border-radius:6px;
    }
    .nleft_sidebar ul{
        background:#E3F1F2;padding:10px;margin-top:2px;border-radius:6px;display:none;
    }
    .mobcdrop img{
        width:14px;float:right;margin-top:6px;
    }
    .catItemList .col-lg-2.col-md-2.col-xs-6 {
        padding-left:6px;padding-right:6px;padding-top:0!important;
    }
    .loadMore a{
        padding:15px 20px; display:block;width:100%;
    }
    .get_section .row .col-lg-6{margin-bottom:20px;}
    .get_section .row {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .faqs_section .panel-title a{text-align:left;}
}
@media(max-width:1023px) {
    .rb_testimonials {
        min-height: 300px;
    }
}
@media(max-width:992px) {
    .rb_testimonials {
        min-height: 340px;
    }
    .rb_testimonial {
        background: linear-gradient(to right, #DD1956 50%, rgba(213, 217, 224, 1) 30% 70%);
    }
}
@media(max-width:821px) {
    .innerVideo {
        height: 435px;
    }
    .innerVideo iframe {
        height: 345px;
        margin-top: 4px;
        margin-left: 5px;
    }
}
@media (max-width:769px) {
    .faqs_section {
        margin: 50px 0;
        text-align: center;
    }
    .footer_section {
        text-align: center;
    }
    .footer_section h3 {
        margin: 30px 0;
    }
    #accordion {
        display: block;
    }
    h2 {
        font-size: 25px;
    }
    .footer_section h3 {
        font-size: 20px;
    }
    .social_icon.text-right,
    .rb_step_2 {
        text-align: center;
    }
    .build_resume {
        margin: 40px 0 50px;
    }
    .build_resume h2 {
        font-size: 42px;
    }
    .resume_steps .col-lg-7 img {
        width: 80%;
        margin-top: 10px;
    }
    .rb_step_1 {
        margin-bottom: 30px;
        text-align: center;
    }
    .rb_step_1 .inner_rb_text,
    .rb_step_3 .inner_rb_text {
        margin-left: 0;
        padding-right: 0;
        margin-top: 30px;
    }
    .rb_step_2 .row {
        display: block;
    }
    .rb_step_3 {
        height: auto;
        text-align: center;
    }
    .hlp_section {
        padding: 30px 0 0px;
        text-align: center;
    }
    .mt120 {
        margin-top: 0px;
    }
    .rb_testimonials h2,
    .rb_testimonials p {
        margin-left: 0;
        text-align: center;
    }
    .inner_item {
        margin-top: 0;
    }
    .rb_testimonials .carousel-controls {
        margin-top: 50px;
        position: relative;
    }
    .carousel-controls .control {
        top: -10px;
    }
    .prev {
        left: 35%;
    }
    .next {
        left: 50%;
    }
    .build_resume h2,
    .poster_maker h2,
    .bst_heading h2 {
        font-size: 35px;
    }
    .poster_maker p,
    .build_resume p {
        padding: 1em 0px;
    }
    .rb_testimonials {
        min-height: 415px;
    }
    .innerVideo {
        width: 100% !important;
    }
    .innerVideo {
        height: 400px;
    }
    .innerVideo iframe {
        height: 320px;
        margin-top: 3px;
        margin-left: 4px;
        width: 92%;
    }
}
@media(max-width:768px) {
    .language_section .col-sm-4 {
        height: max-content;
        margin-bottom: 1em;
    }
    .langDiv {
        width: auto;
    }
}
@media(max-width:725px) {
    .rb_testimonials {
        max-height: 450px;
    }
}
@media (max-width:668px) {
    .innerVideo {
        height: 345px;
    }
    .innerVideo iframe {
        height: 271px;
        margin-top: 0px;
        margin-left: 0px;
        width: 92%;
    }
}
@media (max-width:640px) {
    .footer_widget .col-lg-2:nth-child(2),
    .footer_widget .col-lg-2:nth-child(3) {
        min-height: 250px;
    }
    .carousel-control>a>span {
        width: 40px !important;
    }
    .carousel-control.left,
    .carousel-control.right {
        margin-right: 10px;
        margin-left: 10px;
    }
    .innerVideo {
        height: 320px;
    }
    .innerVideo iframe {
        height: 260px;
        margin-top: -3px;
        margin-left: -2px;
        width: 94%;
    }
}
@media(max-width:612px) {
    .rb_testimonials {
        max-height: 490px;
    }
}
@media(max-width:541px) {
    .rb_testimonials {
        max-height: 585px;
    }
}
@media (max-width:480px) {
    .rb_testimonials {
        margin-left: 0px;
        height: 425px;
    }
    .rb_testimonial {
        margin-left: 0px;
        background: #DD1956;
    }
    .build_resume h2,
    .poster_maker h2,
    .bst_heading h2 {
        font-size: 25px;
    }
    .bst_heading {
        margin: 5em 0 50px 0;
    }
    .build_resume,
    .seeAllTemp {
        margin: 0px;
    }
    .innerVideo {
        height: 235px;
    }
    .innerVideo iframe {
        height: 190px;
        margin-top: -11px;
        margin-left: -9px;
        width: 98%;
    }
    #carousel {
        display: none;
    }
}
@media(max-width:426px) {
    .rb_testimonials {
        max-height: 445px;
    }
    .tmp_cat_list ul li a {
        padding: 10px;
    }
    .innerVideo iframe {
        height:185px;margin-top:10px;margin-left:5px;width:90%;
    }
    .innerVideo {
        padding: 8px !important;
    }
    .poster_maker {
        padding: 1em;
    }
    .langDiv {
        width:48%;
    }
    .start_section ul.dropdown-menu {
        padding: 5px;min-width:300px;
    }   
    .start_section ul.dropdown-menu li {
        width: 115px;
    }
}
@media(max-width:391px) {
    .innerVideo iframe {
        width: 98%;
    }
}
@media(max-width:378px) {
    .innerVideo {
        height: 208px;
    }
    .innerVideo iframe {
        height: 165px;
        margin-top: 7px;
        width: 90%;
    }
}
@media(max-width:325px) {
    .rb_testimonials{
        height:460px;
    }
    .innerVideo{
        height:175px;
    }
    .innerVideo iframe{
        height:137px;
    }
    .start_section .dropdown-menu-right {right: -54px;}
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}